# Chi-square Test

* Chi-square Test of Independence / Associations
* Chi-square Test of Goodness of fit
* Chi-square Test of Homogeneity

In [1]:
import pandas as pd
import numpy as np
from scipy.stats  import chi2_contingency

# Two different methods of conducting a t-test
import researchpy as rp
from scipy import stats

# Chi-square Test of Independece / Associations

### Example 1

In [3]:
# Read the data in
df = pd.read_csv("Chi-square test Independence.csv")

In [4]:
df.head(3)

  Gender Voting_Preference
0   Male          Republic
1   Male          Republic
2   Male          Republic

In [5]:
df.columns

Index(['Gender', 'Voting_Preference'], dtype='object')

In [6]:
df.Gender.value_counts()

Female    600
Male      400
Name: Gender, dtype: int64

### Hypotheses

Ho:- There is no relationship between the Gender and Voting_Preference ( independent )

H1:- There is relationship between the Gender and Voting_Preference ( dependent )

In [7]:
table, results = rp.crosstab(df['Gender'], df['Voting_Preference'], test= 'chi-square') #,prop='row')
    
table

                  Voting_Preference
Voting_Preference        Democratic Indian_Party Republic   All
Gender
Female                          300           50      250   600
Male                            150           50      200   400
All                             450          100      450  1000

In [8]:
results

                Chi-square test  results
0  Pearson Chi-square ( 2.0) =   16.2037
1                    p-value =    0.0003
2                 Cramer's V =    0.1273

### Conclusion
* There is relationship between the Gender and Voting_Preference ( dependent )

# Chi-square Test Goodness of fit

### Hypotheses

* Ho:- The proportion of rookies , Vetrans & all stars is 30% , 60% & 10% will not have different proportion in Sample
* H1:- The proportion of rookies , Vetrans & all stars is 30% , 60% & 10% will have different proportion in Sample

In [9]:
import scipy.stats as stats

In [10]:
def expected_value(n,p1,p2,p3):
    e1=n*p1
    e2=n*p2
    e3=n*p3 
    return list([e1,e2,e3])

In [11]:
expected_value(100,0.30,0.60,0.10)

[30.0, 60.0, 10.0]

In [12]:
expected = [30, 60,10]
observed = [50, 45,5]

In [18]:
stats.chisquare(f_obs=observed, f_exp=expected)

Power_divergenceResult(statistic=19.583333333333336, pvalue=5.5915626856371765e-05)

### Conclusion
* The proportion of rookies , Vetrans & all stars is 30% , 60% & 10% will have different proportion in Sample

# Chi-Square Test of Homogeneity

### Example 1

### Hypotheses

* Ho:- The proportion of boys who prefer the Lone Ranger is identical to the proportion of girls
* H0:- The proportion of boys who prefer the Sesame_Street is identical to the proportion of girls
* H0:- The proportion of boys who prefer the The_Simpsons is identical to the proportion of girls

Vs 

* H1 :-  At least one of the null hypothesis statements is false.

In [19]:
# Read the data in
df = pd.read_csv("Chi-square test Homogeneity.csv")

In [15]:
df.columns

Index(['Gender', 'Viewing_Preference'], dtype='object')

In [20]:
table, results = rp.crosstab(df['Gender'], df['Viewing_Preference'], test= 'chi-square') #,prop='row')
    
table

                   Viewing_Preference
Viewing_Preference        Lone_Ranger Sesame_Street The_Simpsons  All
Gender
Boys                               50            30           20  100
Girls                              50            80           70  200
All                               100           110           90  300

In [21]:
results

                Chi-square test  results
0  Pearson Chi-square ( 2.0) =   19.3182
1                    p-value =    0.0001
2                 Cramer's V =    0.2538

#### Conclusion
*  At least one of the null hypothesis statements is false.