### Example 1

* A firm is starting a delivery service for a new client between 2 points.Since it is a new client, the firm wants to send   more consistent delivery boy to deliver the product.
* The average time taken by both the delivery boys is same i.e 32.5 minutes
* How can the firm arrive on a conclusion?

In [1]:
import numpy as np
import scipy.stats
#define F-test function
def f_test(x, y):
    x = np.array(x)
    y = np.array(y)
    f = np.var(x, ddof=1)/np.var(y, ddof=1) #calculate F test statistic 
    dfn = x.size-1 #define degrees of freedom numerator 
    dfd = y.size-1 #define degrees of freedom denominator 
    p = 1-scipy.stats.f.cdf(f, dfn, dfd) #find p-value of F test statistic 
    return (f, p)

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("Delivery_boy.csv")

In [4]:
data.head()

   Boy1  Boy2
0    12    34
1    13    14
2    17    31
3    21    59
4    24    11

In [5]:
data.mean()

Boy1    32.5
Boy2    32.5
dtype: float64

### Hypothesis

* H0 :- There is no significance difference between the Delivery Boy1 & Boy2 
* H1 :- There is significance difference between the Delivery Boy1 & Boy2

In [7]:
#perform F-test
f_test(data.Boy1, data.Boy2)

(0.9043254081924951, 0.5856113113455701)

### Conclusion

* There is no significance difference between the Delivery Boy1 & Boy2

### Example 2

In [8]:
data2=pd.read_csv("Ftest.csv")

In [9]:
data2.head()

    A   B
0  66  64
1  67  66
2  75  74
3  76  78
4  82  82

### Hypothesis

* H0 :- There is no significance difference between the Marks Score by Class A  & Class B 
* H1 :- There is significance difference between the Marks Score by Class A  & Class B

In [10]:
#perform F-test
f_test(data2.A, data2.B)

(0.8897558520010069, 0.5635902284427321)

### Conclusion

* There is no significance difference between Marks Score by Class A  & Class B