# Import Libraries & Data

In [1]:
import pandas as pd
import researchpy as rp

In [2]:
df = pd.read_csv('Sales_Brand.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sale       21 non-null     int64
 1   Sales_Men  21 non-null     object
dtypes: int64(1), object(1)
memory usage: 464.0+ bytes

# EDA on data

In [3]:
rp.summary_cont(df['Sale'])

  Variable     N     Mean      SD      SE  95% Conf.  Interval
0     Sale  21.0  46.1429  4.7884  1.0449    43.9632   48.3225

* A new medication was developed to increase the libido of those who take the medication. 
* The overall average libido was 3.5 95% CI(2.5, 4.4)

In [4]:
rp.summary_cont(df['Sale'].groupby(df['Sales_Men']))

             N     Mean      SD      SE  95% Conf.  Interval
Sales_Men
Sales_Man_A  7  44.5714  4.3534  1.6454    40.5452   48.5977
Sales_Man_B  7  45.8571  5.3675  2.0287    40.8931   50.8212
Sales_Man_C  7  48.0000  4.6547  1.7593    43.6951   52.3049

# One-Way Anova

The purpose of this study was to test for a difference between the dosage levels.

* H0:- There is no significance difference between the all Sales_men with respect to dose of Sale

Vs

* H1:- There is  significance difference between the High,all Sales_men with respect to dose of Sale

In [5]:
import pingouin as pg

aov = pg.anova(data=df, dv='Sale', between='Sales_Men', detailed=True)
print(aov)

      Source          SS  DF         MS         F     p-unc       np2
0  Sales_Men   42.000000   2  21.000000  0.907407  0.421252  0.091589
1     Within  416.571429  18  23.142857       NaN       NaN       NaN

In [7]:
import scipy.stats as stats

stats.f_oneway(df['Sale'][df['Sales_Men'] == 'Sales_Man_A'],
               df['Sale'][df['Sales_Men'] == 'Sales_Man_B'],
               df['Sale'][df['Sales_Men'] == 'Sales_Man_C'])

F_onewayResult(statistic=0.9074074074074073, pvalue=0.42125239706926476)

##### Conclusion
There is no significance difference between the all Sales_men with respect to dose of Sale

# Assumptions of ANOVA

##### Levene Test

it is used to check the equality of Variance between the Brand ( Treatment) or Homogeneity of Variance

* H0:- There is no significance difference in variance between the all Sales_men with respect to dose of Sale

Vs

* H1:- There is  significance difference variance between the High,all Sales_men with respect to dose of Sale

In [8]:
stats.levene(df['Sale'][df['Sales_Men'] == 'Sales_Man_A'],
               df['Sale'][df['Sales_Men'] == 'Sales_Man_B'],
               df['Sale'][df['Sales_Men'] == 'Sales_Man_C'])

LeveneResult(statistic=0.29482758620689675, pvalue=0.748187659211092)

###### Conslusion

* There is no difference in variance between the all Sales_men with respect to dose of Sale

In [9]:
import statsmodels.stats.multicomp as mc

comp = mc.MultiComparison(df['Sale'], df['Sales_Men'])
post_hoc_res = comp.tukeyhsd()
post_hoc_res.summary()