In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, ttest_1samp, ttest_rel

In [6]:
import researchpy as rp
from scipy import stats

## One sample T-test

In [7]:
a = [6,6,12,7,8]

In [ ]:
# Hypothesis
#Ho = There is no difference between the student who signed the contract and those who didn't signed the contract
# H1 = Thre is a significant differentce between the student who signed the contract and those who don't

In [8]:
ttest_1samp(a,4.6)

Ttest_1sampResult(statistic=2.873684832428399, pvalue=0.04530014395444604)

In [2]:
data = pd.read_csv('LungCapData.csv')

In [43]:
b = data.LungCap

In [11]:
ttest_1samp(b,8)

Ttest_1sampResult(statistic=-1.3842421466872463, pvalue=0.16671083384005358)

In [44]:
data.describe()

          LungCap         Age      Height
count  725.000000  725.000000  725.000000
mean     7.863148   12.326897   64.836276
std      2.662008    4.004750    7.202144
min      0.507000    3.000000   45.300000
25%      6.150000    9.000000   59.900000
50%      8.000000   13.000000   65.400000
75%      9.800000   15.000000   70.300000
max     14.675000   19.000000   81.800000

In [45]:
data.head()

   LungCap  Age  Height Smoke  Gender Caesarean
0    6.475    6    62.1    no    male        no
1   10.125   18    74.7   yes  female        no
2    9.550   16    69.7    no  female       yes
3   11.125   14    71.0    no    male        no
4    4.800    5    56.9    no    male        no

In [46]:
a2 = data.LungCap

In [47]:
a3 = data.Smoke

In [10]:
n = data[data['Smoke'] == 'no']
#n.reset_index(inplace = True)

In [12]:
m = data[data['Smoke'] == 'yes']

## Paired Sample T-test

In [15]:
data = pd.read_csv('Paried_test_PPT.csv')

In [16]:
data.head()

   Participants  Before  After
0             1      18     22
1             2      21     25
2             3      16     17
3             4      22     24
4             5      19     16

In [17]:
data.columns

Index(['Participants', 'Before', 'After'], dtype='object')

In [18]:
a1 = data.After

In [19]:
a2 = data.Before

In [20]:
ttest_rel(a1,a2)

Ttest_relResult(statistic=3.231252665580312, pvalue=0.004394965993185664)

# Example 2

A sample of 20 drivers was chosen and their reaction times in an obstacle course were measured before and after drinking two beers. The puspose of this study was to check whether drivers are impaired after drinking two beers.

#### Hypothesis
- Ho - There is no significant difference in the reaction times before and after drinking two beers
- H1 - There is a significant difference in the reaction time before and after drinking two beers

In [22]:
data = pd.read_csv('beers.csv')

In [ ]:
data.head()

In [ ]:
a = data.After

In [ ]:
b = data.Before

In [ ]:
ttest_rel(a,b)

#### Hypothesis
- Ho - There is no significant difference in the ratings given by Men and Women
- H1 - There is a significant difference in the ratings given by Men and Women

# Two Sample Ttest

In [30]:
df = pd.read_csv('TwosamplePPT.csv')

In [31]:
data.head()

   Participants  Before  After
0             1      18     22
1             2      21     25
2             3      16     17
3             4      22     24
4             5      19     16

In [32]:
data.describe()

       Participants     Before      After
count      20.00000  20.000000  20.000000
mean       10.50000  18.400000  20.450000
std         5.91608   3.152276   4.058454
min         1.00000  12.000000  15.000000
25%         5.75000  16.000000  17.750000
50%        10.50000  18.000000  19.500000
75%        15.25000  21.000000  24.000000
max        20.00000  24.000000  29.000000

In [34]:
Men = df[df['Gender'] == 'M']

In [35]:
Men

  Gender  Rating
4      M      88
5      M      90
6      M      52
7      M      97
8      M      86

In [40]:
Women = df[df['Gender']== 'w']

In [41]:
Women

  Gender  Rating
0      w      84
1      w      97
2      w      58
3      w      90

  Gender  Rating
0      w      84
1      w      97
2      w      58
3      w      90
4      M      88
5      M      90
6      M      52
7      M      97
8      M      86