In [62]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
import statsmodels
import statsmodels.formula.api as smf
from statsmodels.discrete.discrete_model import Poisson as psn
from statsmodels.discrete.discrete_model import NegativeBinomial as ngb

In [6]:
df = pd.read_excel('CountsData.xlsx',sheet_name='poisson')

In [8]:
df.head(10)

   num_awards  prog  math
0           0     3    41
1           0     1    41
2           0     3    44
3           0     3    42
4           0     3    40
5           0     1    42
6           0     3    46
7           0     3    40
8           0     3    33
9           0     3    46

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   num_awards  200 non-null    int64
 1   prog        200 non-null    int64
 2   math        200 non-null    int64
dtypes: int64(3)
memory usage: 4.8 KB

In [12]:
x_train,x_test,y_train,y_test = train_test_split(df.drop('num_awards',axis=1),df['num_awards'],test_size=0.3)

In [14]:
df_train = pd.concat([x_train,y_train],axis=1)

In [15]:
df_train.head()

     prog  math  num_awards
80      3    54           0
76      3    55           0
144     2    61           1
181     2    70           4
189     2    75           1

In [16]:
df_test = pd.concat([x_test,y_test],axis=1)

In [18]:
mod = psn.from_formula('num_awards ~ prog+math',data=df_train).fit()

Optimization terminated successfully.
         Current function value: 0.977252
         Iterations 6

In [20]:
x_test.head()

     prog  math
41      2    50
28      2    46
134     2    66
111     2    59
185     2    67

In [19]:
mod.predict(x_test).head()

41     0.395732
28     0.290795
134    1.357239
111    0.791557
185    1.465918
dtype: float64

In [21]:
y_test.head()

41     0
28     0
134    0
111    1
185    2
Name: num_awards, dtype: int64

In [25]:
df = pd.read_excel('CountsData.xlsx',sheet_name='neg_bin')

In [26]:
df.head()

   math      prog  daysabs
0    63  Academic        4
1    27  Academic        4
2    20  Academic        2
3    16  Academic        3
4     2  Academic        3

In [55]:
x_train,x_test,y_train,y_test = train_test_split(df.drop('daysabs',axis=1),df['daysabs'],test_size=0.2)

In [56]:
df_train = pd.concat([x_train,y_train],axis=1)

In [57]:
mod_neg = ngb.from_formula('daysabs ~ math+prog',data=df_train).fit()

Optimization terminated successfully.
         Current function value: 2.747216
         Iterations: 19
         Function evaluations: 26
         Gradient evaluations: 26

In [58]:
mod_neg.predict(x_test).head()

89     7.470276
119    8.587546
111    8.587546
118    5.272367
23     6.060913
dtype: float64

In [59]:
y_test.head()

89      6
119    10
111     7
118     3
23      0
Name: daysabs, dtype: int64

In [60]:
from sklearn.model_selection import cross_val_score

In [61]:
print(cross_val_score(mod_neg,x_test,y_test,scoring='precision',cv = 7))

TypeError: estimator should be an estimator implementing 'fit' method, <statsmodels.discrete.discrete_model.NegativeBinomialResultsWrapper object at 0x0000016E30DBDF70> was passed