In [4]:
library(readxl)
library(survival)

In [2]:
df = read_excel('interval.xlsx')

In [3]:
head(df)

  lgpa ugpa write rating type
1 2.5  3.0  175   54.0   general
2 3.4  3.8  125   68.0   academic
3 2.5  3.0   70   48.0   general
4 0.0  2.0   50   52.0   vocational
5 3.0  3.4   70   49.0   academic
6 3.4  3.8  205   53.5   general

In [16]:
unique(df$type)

[1] general    academic   vocational
Levels: academic general vocational

In [5]:
df$type = as.factor(df$type)

In [6]:
gpa_int = with(df,Surv(lgpa,ugpa,event=rep(3,nrow(df)),type='interval'))

In [7]:
summary(gpa_int)

     time1         time2           status
 Min.   :0.0   Min.   :2.000   Min.   :3
 1st Qu.:2.0   1st Qu.:2.500   1st Qu.:3
 Median :2.5   Median :3.000   Median :3
 Mean   :2.6   Mean   :3.097   Mean   :3
 3rd Qu.:3.3   3rd Qu.:3.700   3rd Qu.:3
 Max.   :3.8   Max.   :4.000   Max.   :3

In [8]:
gpa_int

 [1] [2.5, 3.0] [3.4, 3.8] [2.5, 3.0] [0.0, 2.0] [3.0, 3.4] [3.4, 3.8]
 [7] [3.8, 4.0] [2.0, 2.5] [3.0, 3.4] [3.4, 3.8] [2.0, 2.5] [2.0, 2.5]
[13] [2.0, 2.5] [2.5, 3.0] [2.5, 3.0] [2.5, 3.0] [3.4, 3.8] [2.5, 3.0]
[19] [2.0, 2.5] [3.0, 3.4] [3.4, 3.8] [3.8, 4.0] [2.0, 2.5] [3.0, 3.4]
[25] [3.4, 3.8] [2.0, 2.5] [2.0, 2.5] [2.0, 2.5] [2.5, 3.0] [2.5, 3.0]

In [14]:
model = survreg(gpa_int~write+rating+type,data=df,dist='gaussian')

In [15]:
summary(model)

Call:
survreg(formula = gpa_int ~ write + rating + type, data = df,
    dist = "gaussian")
                  Value Std. Error     z       p
(Intercept)     1.81361    0.50107  3.62  0.0003
write           0.00528    0.00169  3.12  0.0018
rating          0.01331    0.00912  1.46  0.1443
typegeneral    -0.33489    0.16176 -2.07  0.0384
typevocational -0.70975    0.16684 -4.25 2.1e-05
Log(scale)     -1.23726    0.15964 -7.75 9.2e-15

Scale= 0.29

Gaussian distribution
Loglik(model)= -33.1   Loglik(intercept only)= -51.7
	Chisq= 37.24 on 4 degrees of freedom, p= 1.6e-07
Number of Newton-Raphson Iterations: 5
n= 30

- No statistical influence of rating on gpa
- Chances of higher GPA is when type of course is academic

In [17]:
data = data.frame(write=50,rating=70,type=c('academic','general','vocational'))

In [18]:
predict(model,data)

       1        2        3
3.009845 2.674952 2.300099