In [39]:
from afinn import Afinn
import numpy as np
import pandas as pd

In [2]:
afn = Afinn()

In [3]:
news_df = ['les gens pensent aux chiens','i hate flowers','hes kind and smart','we are kind to good people']

In [4]:
news_df[1]

'i hate flowers'

In [5]:
afn.score(news_df[1])

-3.0

In [8]:
scores = [afn.score(ii) for ii in news_df]
sentiment = ['positive' if i>0 else 'negative' if i<0 else 'neutral' for i in scores]

In [9]:
sentiment

['neutral', 'negative', 'positive', 'positive']

In [10]:
scores

[0.0, -3.0, 3.0, 5.0]

In [12]:
df = pd.DataFrame([news_df,scores,sentiment])

In [15]:
df = df.T

In [18]:
df.columns = ['topic','score','sentiment']

In [19]:
df

                         topic score sentiment
0  les gens pensent aux chiens   0.0   neutral
1               i hate flowers  -3.0  negative
2           hes kind and smart   3.0  positive
3   we are kind to good people   5.0  positive

## TextBlob

In [20]:
from textblob import TextBlob

In [21]:
sent1 = 'stock market crashed today'

In [25]:
sent1 = 'we are kind to good people'

In [26]:
s1 = TextBlob(sent1)

In [27]:
s1.polarity

0.6499999999999999

In [28]:
s1.subjectivity

0.75

----

In [29]:
df = pd.read_csv('Tweets.csv')

In [30]:
df.head(2)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)

In [31]:
res = df[['text']]

In [36]:
res.loc[:,'afinn_score'] = res.loc[:,'text'].apply(afn.score)

/tmp/ipykernel_8524/2627920306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res.loc[:,'afinn_score'] = res.loc[:,'text'].apply(afn.score)

In [41]:
res.loc[:,'afinn_sentiment'] = np.where(res['afinn_score']<0,'negative',np.where(res['afinn_score']>0,'positive','neutral'))

/tmp/ipykernel_8524/4183280041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res.loc[:,'afinn_sentiment'] = np.where(res['afinn_score']<0,'negative',np.where(res['afinn_score']>0,'positive','neutral'))

In [43]:
res.loc[:,'subjectivity'] = res.loc[:,'text'].apply(lambda x: TextBlob(x).subjectivity)

/tmp/ipykernel_8524/3249561299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res.loc[:,'subjectivity'] = res.loc[:,'text'].apply(lambda x: TextBlob(x).subjectivity)

In [45]:
res.loc[:,'polarity'] = res.loc[:,'text'].apply(lambda x:TextBlob(x).polarity)

/tmp/ipykernel_8524/789639230.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res.loc[:,'polarity'] = res.loc[:,'text'].apply(lambda x:TextBlob(x).polarity)

In [47]:
res.loc[:,'textblob_sentiment'] = res.loc[:,'text'].apply(lambda x:TextBlob(x).sentiment)

/tmp/ipykernel_8524/3602302459.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res.loc[:,'textblob_sentiment'] = res.loc[:,'text'].apply(lambda x:TextBlob(x).sentiment)

In [49]:
res.loc[:,'textblob_sentiment'] = np.where(res['polarity']<0,'negative',np.where(res['polarity']>0,'positive','neutral'))

/tmp/ipykernel_8524/3792716078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res.loc[:,'textblob_sentiment'] = np.where(res['polarity']<0,'negative',np.where(res['polarity']>0,'positive','neutral'))

In [50]:
res.head()

,text,afinn_score,afinn_sentiment,subjectivity,polarity,textblob_sentiment
0,@VirginAmerica What @dhepburn said.,0.0,neutral,0.000000,0.000000,neutral
1,@VirginAmerica plus you've added commercials t...,0.0,neutral,0.000000,0.000000,neutral
2,@VirginAmerica I didn't today... Must mean I n...,0.0,neutral,0.687500,-0.390625,negative
3,@VirginAmerica it's really aggressive to blast...,-5.0,negative,0.350000,0.006250,positive
4,@VirginAmerica and it's a really big bad thing...,-2.0,negative,0.383333,-0.350000,negative