In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [22]:
df = pd.read_csv('train_ctrUa4K .csv')

In [23]:
test = pd.read_csv('test_lAUu6dG .csv')

In [24]:
df.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [25]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [26]:
df.Gender.value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [27]:
df.Gender.fillna('Male',inplace=True)

In [28]:
df.Married.mode()

0    Yes
dtype: object

In [29]:
df.Married.fillna(df.Married.mode()[0],inplace=True)

In [30]:
df.Dependents.fillna(df.Dependents.mode()[0],inplace=True)

In [31]:
df.Self_Employed.fillna(df.Self_Employed.mode()[0],inplace=True)

In [32]:
df.LoanAmount.fillna(df.LoanAmount.median(),inplace=True)

In [33]:
df.Loan_Amount_Term.fillna(df.Loan_Amount_Term.mode()[0],inplace=True)

In [34]:
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [35]:
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [36]:
df.drop(['Loan_Amount_Term','LoanAmount'],axis=1,inplace=True)

In [37]:
df = pd.get_dummies(df,columns=['Gender','Married','Dependents','Education','Self_Employed','Property_Area'])

In [38]:
df.dtypes

Loan_ID                     object
ApplicantIncome              int64
CoapplicantIncome          float64
Credit_History             float64
Loan_Status                 object
Gender_Female                uint8
Gender_Male                  uint8
Married_No                   uint8
Married_Yes                  uint8
Dependents_0                 uint8
Dependents_1                 uint8
Dependents_2                 uint8
Dependents_3+                uint8
Education_Graduate           uint8
Education_Not Graduate       uint8
Self_Employed_No             uint8
Self_Employed_Yes            uint8
Property_Area_Rural          uint8
Property_Area_Semiurban      uint8
Property_Area_Urban          uint8
dtype: object

In [39]:
df.head()

,Loan_ID,ApplicantIncome,CoapplicantIncome,Credit_History,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,LP001002,5849,0.0,1.0,Y,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,LP001003,4583,1508.0,1.0,N,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,LP001005,3000,0.0,1.0,Y,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,LP001006,2583,2358.0,1.0,Y,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,LP001008,6000,0.0,1.0,Y,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1