In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 50000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_excel('Data- acquisition scorecard.xlsx')

In [3]:
df.rename(columns={'ENQ_1':'days_last_enq','ENQ_2':'days_hl_last_enq','ENQ_3':'#_enq_3mnths','ENQ_4':'#_hle_enq_3mnths','ENQ_5':'#_enq_12mnths','ENQ_6':'#_hle_enq_12mnths','ENQ_7':'Tot_enq','ENQ_8':'Tot_hle_enq','ACCOUNT_9':'#_defaults_3mnths','ACCOUNT_10':'#_defaults_12mnths','ACCOUNT_11':'days_last_acc_open','ACCOUNT_12':'Tot_accounts','ACCOUNT_13':'Tot_hle_accounts','ACCOUNT_14':'Tot_unsecured_loans','ACCOUNT_15':'Tot_live_loans','ACCOUNT_16':'Tot_live_homeloans','ACCOUNT_17':'Tot_live_unsecuredloans','ACCOUNT_18':'Tot_amt_outstanding','ACCOUNT_19':'Tot_secured_outstanding_amt','ACCOUNT_20':'Tot_unsecured_outstanding_amt','ACCOUNT_21':'Avg_days_in_debt'},inplace=True)

In [4]:
df_copy = df.copy()

In [5]:
df.head(2)

,ID,Age,Customer_type,Gross_income,Net_income,SEX,Type_of_industry,Marital_Status,Months_in_city,Months_in_current_job,Org_Type,Bank_balance,Debt_ratio,Target,days_last_enq,days_hl_last_enq,#_enq_3mnths,#_hle_enq_3mnths,#_enq_12mnths,#_hle_enq_12mnths,Tot_enq,Tot_hle_enq,#_defaults_3mnths,#_defaults_12mnths,days_last_acc_open,Tot_accounts,Tot_hle_accounts,Tot_unsecured_loans,Tot_live_loans,Tot_live_homeloans,Tot_live_unsecuredloans,Tot_amt_outstanding,Tot_secured_outstanding_amt,Tot_unsecured_outstanding_amt,Avg_days_in_debt
0,1794,40.000,SALARIED,70891.000,62491.000,MALE,OTHERS,MARRIED,229.000,108,INDIVIDUAL,37806.000,0.190,0,324,0,0,0,1,0,14,0,0,0,1486,9,0,8,2,0,2,275606,0,275606,5311
1,3183,35.000,SALARIED,53617.000,53617.000,MALE,OTHERS,MARRIED,408.000,60,INDIVIDUAL,15499.000,0.420,0,616,1978,0,0,0,0,11,1,5,5,1912,8,0,6,1,0,0,4844,4824,20,5289

## Data Preparation

### Duplicated

In [6]:
len(df)

3980

In [7]:
df.ID.nunique()

3894

In [8]:
df.drop(df[df.duplicated()].index,inplace=True)

### Missing

In [9]:
df.isnull().sum().sort_values(ascending=False).head(7)

Bank_balance        626
Type_of_industry      5
SEX                   4
Marital_Status        4
Months_in_city        4
Age                   1
ID                    0
dtype: int64

In [10]:
sal_bb = df.loc[df['Customer_type'] == 'SALARIED','Bank_balance'].mean()
se_bb = df.loc[df['Customer_type'] == 'SELF EMPLOYED','Bank_balance'].mean()
ne_bb = df.loc[df['Customer_type'] == 'NON EARNING','Bank_balance'].mean()

In [11]:
df['Bank_balance'] = np.where((df['Customer_type'] == 'SALARIED') & (df['Bank_balance'].isna()),sal_bb,np.where(((df['Customer_type'] == 'SELF EMPLOYED')&(df['Bank_balance'].isna())),se_bb,np.where(((df['Customer_type'] == 'NON EARNING') & (df['Bank_balance'].isna())),ne_bb,df['Bank_balance'])))

In [12]:
df.isnull().sum().sort_values(ascending=False).head(7)

Type_of_industry       5
SEX                    4
Marital_Status         4
Months_in_city         4
Age                    1
ID                     0
Tot_unsecured_loans    0
dtype: int64

In [13]:
df.dropna(inplace=True)

## Variable creation

In [14]:
df.head(1)

,ID,Age,Customer_type,Gross_income,Net_income,SEX,Type_of_industry,Marital_Status,Months_in_city,Months_in_current_job,Org_Type,Bank_balance,Debt_ratio,Target,days_last_enq,days_hl_last_enq,#_enq_3mnths,#_hle_enq_3mnths,#_enq_12mnths,#_hle_enq_12mnths,Tot_enq,Tot_hle_enq,#_defaults_3mnths,#_defaults_12mnths,days_last_acc_open,Tot_accounts,Tot_hle_accounts,Tot_unsecured_loans,Tot_live_loans,Tot_live_homeloans,Tot_live_unsecuredloans,Tot_amt_outstanding,Tot_secured_outstanding_amt,Tot_unsecured_outstanding_amt,Avg_days_in_debt
0,1794,40.000,SALARIED,70891.000,62491.000,MALE,OTHERS,MARRIED,229.000,108,INDIVIDUAL,37806.000,0.190,0,324,0,0,0,1,0,14,0,0,0,1486,9,0,8,2,0,2,275606,0,275606,5311

In [15]:
dt = df.dtypes.to_frame()

In [16]:
non_obj = dt.loc[dt[0] != 'object',:].index.tolist()

In [17]:
non_obj.remove('ID')
non_obj.remove('Target')

In [19]:
for i in non_obj:
    for ii in non_obj:
        if ii != i:
            df.loc[:,'{}/{}'.format(i,ii)] = df[i]/df[ii]
        else:
            continue

In [20]:
dt = df.dtypes.to_frame()

In [21]:
df.head(2)

,ID,Age,Customer_type,Gross_income,Net_income,SEX,Type_of_industry,Marital_Status,Months_in_city,Months_in_current_job,Org_Type,Bank_balance,Debt_ratio,Target,days_last_enq,days_hl_last_enq,#_enq_3mnths,#_hle_enq_3mnths,#_enq_12mnths,#_hle_enq_12mnths,Tot_enq,Tot_hle_enq,#_defaults_3mnths,#_defaults_12mnths,days_last_acc_open,Tot_accounts,Tot_hle_accounts,Tot_unsecured_loans,Tot_live_loans,Tot_live_homeloans,Tot_live_unsecuredloans,Tot_amt_outstanding,Tot_secured_outstanding_amt,Tot_unsecured_outstanding_amt,Avg_days_in_debt,Age/Gross_income,Age/Net_income,Age/Months_in_city,Age/Months_in_current_job,Age/Bank_balance,Age/Debt_ratio,Age/days_last_enq,Age/days_hl_last_enq,Age/#_enq_3mnths,Age/#_hle_enq_3mnths,Age/#_enq_12mnths,Age/#_hle_enq_12mnths,Age/Tot_enq,Age/Tot_hle_enq,Age/#_defaults_3mnths,Age/#_defaults_12mnths,Age/days_last_acc_open,Age/Tot_accounts,Age/Tot_hle_accounts,Age/Tot_unsecured_loans,Age/Tot_live_loans,Age/Tot_live_homeloans,Age/Tot_live_unsecuredloans,Age/Tot_amt_outstanding,Age/Tot_secured_outstanding_amt,Age/Tot_unsecured_outstanding_amt,Age/Avg_days_in_debt,Gross_income/Age,Gross_income/Net_income,Gross_income/Months_in_city,Gross_income/Months_in_current_job,Gross_income/Bank_balance,Gross_income/Debt_ratio,Gross_income/days_last_enq,Gross_income/days_hl_last_enq,Gross_income/#_enq_3mnths,Gross_income/#_hle_enq_3mnths,Gross_income/#_enq_12mnths,Gross_income/#_hle_enq_12mnths,Gross_income/Tot_enq,Gross_income/Tot_hle_enq,Gross_income/#_defaults_3mnths,Gross_income/#_defaults_12mnths,Gross_income/days_last_acc_open,Gross_income/Tot_accounts,Gross_income/Tot_hle_accounts,Gross_income/Tot_unsecured_loans,Gross_income/Tot_live_loans,Gross_income/Tot_live_homeloans,Gross_income/Tot_live_unsecuredloans,Gross_income/Tot_amt_outstanding,Gross_income/Tot_secured_outstanding_amt,Gross_income/Tot_unsecured_outstanding_amt,Gross_income/Avg_days_in_debt,Net_income/Age,Net_income/Gross_income,Net_income/Months_in_city,Net_income/Months_in_current_job,Net_income/Bank_balance,Net_income/Debt_ratio,Net_income/days_last_enq,Net_income/days_hl_last_enq,Net_income/#_enq_3mnths,Net_income/#_hle_enq_3mnths,Net_income/#_enq_12mnths,Net_income/#_hle_enq_12mnths,Net_income/Tot_enq,Net_income/Tot_hle_enq,Net_income/#_defaults_3mnths,Net_income/#_defaults_12mnths,Net_income/days_last_acc_open,Net_income/Tot_accounts,Net_income/Tot_hle_accounts,Net_income/Tot_unsecured_loans,Net_income/Tot_live_loans,Net_income/Tot_live_homeloans,Net_income/Tot_live_unsecuredloans,Net_income/Tot_amt_outstanding,Net_income/Tot_secured_outstanding_amt,Net_income/Tot_unsecured_outstanding_amt,Net_income/Avg_days_in_debt,Months_in_city/Age,Months_in_city/Gross_income,Months_in_city/Net_income,Months_in_city/Months_in_current_job,Months_in_city/Bank_balance,Months_in_city/Debt_ratio,Months_in_city/days_last_enq,Months_in_city/days_hl_last_enq,Months_in_city/#_enq_3mnths,Months_in_city/#_hle_enq_3mnths,Months_in_city/#_enq_12mnths,Months_in_city/#_hle_enq_12mnths,Months_in_city/Tot_enq,Months_in_city/Tot_hle_enq,Months_in_city/#_defaults_3mnths,Months_in_city/#_defaults_12mnths,Months_in_city/days_last_acc_open,Months_in_city/Tot_accounts,Months_in_city/Tot_hle_accounts,Months_in_city/Tot_unsecured_loans,Months_in_city/Tot_live_loans,Months_in_city/Tot_live_homeloans,Months_in_city/Tot_live_unsecuredloans,Months_in_city/Tot_amt_outstanding,Months_in_city/Tot_secured_outstanding_amt,Months_in_city/Tot_unsecured_outstanding_amt,Months_in_city/Avg_days_in_debt,Months_in_current_job/Age,Months_in_current_job/Gross_income,Months_in_current_job/Net_income,Months_in_current_job/Months_in_city,Months_in_current_job/Bank_balance,Months_in_current_job/Debt_ratio,Months_in_current_job/days_last_enq,Months_in_current_job/days_hl_last_enq,Months_in_current_job/#_enq_3mnths,Months_in_current_job/#_hle_enq_3mnths,Months_in_current_job/#_enq_12mnths,Months_in_current_job/#_hle_enq_12mnths,Months_in_current_job/Tot_enq,Months_in_current_job/Tot_hle_enq,Months_in_current_job/#_defaults_3mnths,Months_in_current_job/#_defaults_12mnths,Months_in_current_job/days_last_acc_open,Months_in_current_job/Tot_accounts,Months_in_current_job/Tot_hle_accounts,Months_in_current_job/Tot_unsecured_loans,Months_in_current_job/Tot_live_loans,Months_in_current_job/Tot_live_homeloans,Months_in_current_job/Tot_live_unsecuredloans,Months_in_current_job/Tot_amt_outstanding,Months_in_current_job/Tot_secured_outstanding_amt,Months_in_current_job/Tot_unsecured_outstanding_amt,Months_in_current_job/Avg_days_in_debt,Bank_balance/Age,Bank_balance/Gross_income,Bank_balance/Net_income,Bank_balance/Months_in_city,Bank_balance/Months_in_current_job,Bank_balance/Debt_ratio,Bank_balance/days_last_enq,Bank_balance/days_hl_last_enq,Bank_balance/#_enq_3mnths,Bank_balance/#_hle_enq_3mnths,Bank_balance/#_enq_12mnths,Bank_balance/#_hle_enq_12mnths,Bank_balance/Tot_enq,Bank_balance/Tot_hle_enq,Bank_balance/#_defaults_3mnths,Bank_balance/#_defaults_12mnths,Bank_balance/days_last_acc_open,Bank_balance/Tot_accounts,Bank_balance/Tot_hle_accounts,Bank_balance/Tot_unsecured_loans,Bank_balance/Tot_live_loans,Bank_balance/Tot_live_homeloans,Bank_balance/Tot_live_unsecuredloans,Bank_balance/Tot_amt_outstanding,Bank_balance/Tot_secured_outstanding_amt,Bank_balance/Tot_unsecured_outstanding_amt,Bank_balance/Avg_days_in_debt,Debt_ratio/Age,Debt_ratio/Gross_income,Debt_ratio/Net_income,Debt_ratio/Months_in_city,Debt_ratio/Months_in_current_job,Debt_ratio/Bank_balance,Debt_ratio/days_last_enq,Debt_ratio/days_hl_last_enq,Debt_ratio/#_enq_3mnths,Debt_ratio/#_hle_enq_3mnths,Debt_ratio/#_enq_12mnths,Debt_ratio/#_hle_enq_12mnths,Debt_ratio/Tot_enq,Debt_ratio/Tot_hle_enq,Debt_ratio/#_defaults_3mnths,Debt_ratio/#_defaults_12mnths,Debt_ratio/days_last_acc_open,Debt_ratio/Tot_accounts,Debt_ratio/Tot_hle_accounts,Debt_ratio/Tot_unsecured_loans,Debt_ratio/Tot_live_loans,Debt_ratio/Tot_live_homeloans,Debt_ratio/Tot_live_unsecuredloans,Debt_ratio/Tot_amt_outstanding,Debt_ratio/Tot_secured_outstanding_amt,Debt_ratio/Tot_unsecured_outstanding_amt,Debt_ratio/Avg_days_in_debt,days_last_enq/Age,days_last_enq/Gross_income,days_last_enq/Net_income,days_last_enq/Months_in_city,days_last_enq/Months_in_current_job,days_last_enq/Bank_balance,days_last_enq/Debt_ratio,days_last_enq/days_hl_last_enq,days_last_enq/#_enq_3mnths,days_last_enq/#_hle_enq_3mnths,days_last_enq/#_enq_12mnths,days_last_enq/#_hle_enq_12mnths,days_last_enq/Tot_enq,days_last_enq/Tot_hle_enq,days_last_enq/#_defaults_3mnths,days_last_enq/#_defaults_12mnths,days_last_enq/days_last_acc_open,days_last_enq/Tot_accounts,days_last_enq/Tot_hle_accounts,days_last_enq/Tot_unsecured_loans,days_last_enq/Tot_live_loans,days_last_enq/Tot_live_homeloans,days_last_enq/Tot_live_unsecuredloans,days_last_enq/Tot_amt_outstanding,days_last_enq/Tot_secured_outstanding_amt,days_last_enq/Tot_unsecured_outstanding_amt,...,Tot_accounts/Tot_live_loans,Tot_accounts/Tot_live_homeloans,Tot_accounts/Tot_live_unsecuredloans,Tot_accounts/Tot_amt_outstanding,Tot_accounts/Tot_secured_outstanding_amt,Tot_accounts/Tot_unsecured_outstanding_amt,Tot_accounts/Avg_days_in_debt,Tot_hle_accounts/Age,Tot_hle_accounts/Gross_income,Tot_hle_accounts/Net_income,Tot_hle_accounts/Months_in_city,Tot_hle_accounts/Months_in_current_job,Tot_hle_accounts/Bank_balance,Tot_hle_accounts/Debt_ratio,Tot_hle_accounts/days_last_enq,Tot_hle_accounts/days_hl_last_enq,Tot_hle_accounts/#_enq_3mnths,Tot_hle_accounts/#_hle_enq_3mnths,Tot_hle_accounts/#_enq_12mnths,Tot_hle_accounts/#_hle_enq_12mnths,Tot_hle_accounts/Tot_enq,Tot_hle_accounts/Tot_hle_enq,Tot_hle_accounts/#_defaults_3mnths,Tot_hle_accounts/#_defaults_12mnths,Tot_hle_accounts/days_last_acc_open,Tot_hle_accounts/Tot_accounts,Tot_hle_accounts/Tot_unsecured_loans,Tot_hle_accounts/Tot_live_loans,Tot_hle_accounts/Tot_live_homeloans,Tot_hle_accounts/Tot_live_unsecuredloans,Tot_hle_accounts/Tot_amt_outstanding,Tot_hle_accounts/Tot_secured_outstanding_amt,Tot_hle_accounts/Tot_unsecured_outstanding_amt,Tot_hle_accounts/Avg_days_in_debt,Tot_unsecured_loans/Age,Tot_unsecured_loans/Gross_income,Tot_unsecured_loans/Net_income,Tot_unsecured_loans/Months_in_city,Tot_unsecured_loans/Months_in_current_job,Tot_unsecured_loans/Bank_balance,Tot_unsecured_loans/Debt_ratio,Tot_unsecured_loans/days_last_enq,Tot_unsecured_loans/days_hl_last_enq,Tot_unsecured_loans/#_enq_3mnths,Tot_unsecured_loans/#_hle_enq_3mnths,Tot_unsecured_loans/#_enq_12mnths,Tot_unsecured_loans/#_hle_enq_12mnths,Tot_unsecured_loans/Tot_enq,Tot_unsecured_loans/Tot_hle_enq,Tot_unsecured_loans/#_defaults_3mnths,Tot_unsecured_loans/#_defaults_12mnths,Tot_unsecured_loans/days_last_acc_open,Tot_unsecured_loans/Tot_accounts,Tot_unsecured_loans/Tot_hle_accounts,Tot_unsecured_loans/Tot_live_loans,Tot_unsecured_loans/Tot_live_homeloans,Tot_unsecured_loans/Tot_live_unsecuredloans,Tot_unsecured_loans/Tot_amt_outstanding,Tot_unsecured_loans/Tot_secured_outstanding_amt,Tot_unsecured_loans/Tot_unsecured_outstanding_amt,Tot_unsecured_loans/Avg_days_in_debt,Tot_live_loans/Age,Tot_live_loans/Gross_income,Tot_live_loans/Net_income,Tot_live_loans/Months_in_city,Tot_live_loans/Months_in_current_job,Tot_live_loans/Bank_balance,Tot_live_loans/Debt_ratio,Tot_live_loans/days_last_enq,Tot_live_loans/days_hl_last_enq,Tot_live_loans/#_enq_3mnths,Tot_live_loans/#_hle_enq_3mnths,Tot_live_loans/#_enq_12mnths,Tot_live_loans/#_hle_enq_12mnths,Tot_live_loans/Tot_enq,Tot_live_loans/Tot_hle_enq,Tot_live_loans/#_defaults_3mnths,Tot_live_loans/#_defaults_12mnths,Tot_live_loans/days_last_acc_open,Tot_live_loans/Tot_accounts,Tot_live_loans/Tot_hle_accounts,Tot_live_loans/Tot_unsecured_loans,Tot_live_loans/Tot_live_homeloans,Tot_live_loans/Tot_live_unsecuredloans,Tot_live_loans/Tot_amt_outstanding,Tot_live_loans/Tot_secured_outstanding_amt,Tot_live_loans/Tot_unsecured_outstanding_amt,Tot_live_loans/Avg_days_in_debt,Tot_live_homeloans/Age,Tot_live_homeloans/Gross_income,Tot_live_homeloans/Net_income,Tot_live_homeloans/Months_in_city,Tot_live_homeloans/Months_in_current_job,Tot_live_homeloans/Bank_balance,Tot_live_homeloans/Debt_ratio,Tot_live_homeloans/days_last_enq,Tot_live_homeloans/days_hl_last_enq,Tot_live_homeloans/#_enq_3mnths,Tot_live_homeloans/#_hle_enq_3mnths,Tot_live_homeloans/#_enq_12mnths,Tot_live_homeloans/#_hle_enq_12mnths,Tot_live_homeloans/Tot_enq,Tot_live_homeloans/Tot_hle_enq,Tot_live_homeloans/#_defaults_3mnths,Tot_live_homeloans/#_defaults_12mnths,Tot_live_homeloans/days_last_acc_open,Tot_live_homeloans/Tot_accounts,Tot_live_homeloans/Tot_hle_accounts,Tot_live_homeloans/Tot_unsecured_loans,Tot_live_homeloans/Tot_live_loans,Tot_live_homeloans/Tot_live_unsecuredloans,Tot_live_homeloans/Tot_amt_outstanding,Tot_live_homeloans/Tot_secured_outstanding_amt,Tot_live_homeloans/Tot_unsecured_outstanding_amt,Tot_live_homeloans/Avg_days_in_debt,Tot_live_unsecuredloans/Age,Tot_live_unsecuredloans/Gross_income,Tot_live_unsecuredloans/Net_income,Tot_live_unsecuredloans/Months_in_city,Tot_live_unsecuredloans/Months_in_current_job,Tot_live_unsecuredloans/Bank_balance,Tot_live_unsecuredloans/Debt_ratio,Tot_live_unsecuredloans/days_last_enq,Tot_live_unsecuredloans/days_hl_last_enq,Tot_live_unsecuredloans/#_enq_3mnths,Tot_live_unsecuredloans/#_hle_enq_3mnths,Tot_live_unsecuredloans/#_enq_12mnths,Tot_live_unsecuredloans/#_hle_enq_12mnths,Tot_live_unsecuredloans/Tot_enq,Tot_live_unsecuredloans/Tot_hle_enq,Tot_live_unsecuredloans/#_defaults_3mnths,Tot_live_unsecuredloans/#_defaults_12mnths,Tot_live_unsecuredloans/days_last_acc_open,Tot_live_unsecuredloans/Tot_accounts,Tot_live_unsecuredloans/Tot_hle_accounts,Tot_live_unsecuredloans/Tot_unsecured_loans,Tot_live_unsecuredloans/Tot_live_loans,Tot_live_unsecuredloans/Tot_live_homeloans,Tot_live_unsecuredloans/Tot_amt_outstanding,Tot_live_unsecuredloans/Tot_secured_outstanding_amt,Tot_live_unsecuredloans/Tot_unsecured_outstanding_amt,Tot_live_unsecuredloans/Avg_days_in_debt,Tot_amt_outstanding/Age,Tot_amt_outstanding/Gross_income,Tot_amt_outstanding/Net_income,Tot_amt_outstanding/Months_in_city,Tot_amt_outstanding/Months_in_current_job,Tot_amt_outstanding/Bank_balance,Tot_amt_outstanding/Debt_ratio,Tot_amt_outstanding/days_last_enq,Tot_amt_outstanding/days_hl_last_enq,Tot_amt_outstanding/#_enq_3mnths,Tot_amt_outstanding/#_hle_enq_3mnths,Tot_amt_outstanding/#_enq_12mnths,Tot_amt_outstanding/#_hle_enq_12mnths,Tot_amt_outstanding/Tot_enq,Tot_amt_outstanding/Tot_hle_enq,Tot_amt_outstanding/#_defaults_3mnths,Tot_amt_outstanding/#_defaults_12mnths,Tot_amt_outstanding/days_last_acc_open,Tot_amt_outstanding/Tot_accounts,Tot_amt_outstanding/Tot_hle_accounts,Tot_amt_outstanding/Tot_unsecured_loans,Tot_amt_outstanding/Tot_live_loans,Tot_amt_outstanding/Tot_live_homeloans,Tot_amt_outstanding/Tot_live_unsecuredloans,Tot_amt_outstanding/Tot_secured_outstanding_amt,Tot_amt_outstanding/Tot_unsecured_outstanding_amt,Tot_amt_outstanding/Avg_days_in_debt,Tot_secured_outstanding_amt/Age,Tot_secured_outstanding_amt/Gross_income,Tot_secured_outstanding_amt/Net_income,Tot_secured_outstanding_amt/Months_in_city,Tot_secured_outstanding_amt/Months_in_current_job,Tot_secured_outstanding_amt/Bank_balance,Tot_secured_outstanding_amt/Debt_ratio,Tot_secured_outstanding_amt/days_last_enq,Tot_secured_outstanding_amt/days_hl_last_enq,Tot_secured_outstanding_amt/#_enq_3mnths,Tot_secured_outstanding_amt/#_hle_enq_3mnths,Tot_secured_outstanding_amt/#_enq_12mnths,Tot_secured_outstanding_amt/#_hle_enq_12mnths,Tot_secured_outstanding_amt/Tot_enq,Tot_secured_outstanding_amt/Tot_hle_enq,Tot_secured_outstanding_amt/#_defaults_3mnths,Tot_secured_outstanding_amt/#_defaults_12mnths,Tot_secured_outstanding_amt/days_last_acc_open,Tot_secured_outstanding_amt/Tot_accounts,Tot_secured_outstanding_amt/Tot_hle_accounts,Tot_secured_outstanding_amt/Tot_unsecured_loans,Tot_secured_outstanding_amt/Tot_live_loans,Tot_secured_outstanding_amt/Tot_live_homeloans,Tot_secured_outstanding_amt/Tot_live_unsecuredloans,Tot_secured_outstanding_amt/Tot_amt_outstanding,Tot_secured_outstanding_amt/Tot_unsecured_outstanding_amt,Tot_secured_outstanding_amt/Avg_days_in_debt,Tot_unsecured_outstanding_amt/Age,Tot_unsecured_outstanding_amt/Gross_income,Tot_unsecured_outstanding_amt/Net_income,Tot_unsecured_outstanding_amt/Months_in_city,Tot_unsecured_outstanding_amt/Months_in_current_job,Tot_unsecured_outstanding_amt/Bank_balance,Tot_unsecured_outstanding_amt/Debt_ratio,Tot_unsecured_outstanding_amt/days_last_enq,Tot_unsecured_outstanding_amt/days_hl_last_enq,Tot_unsecured_outstanding_amt/#_enq_3mnths,Tot_unsecured_outstanding_amt/#_hle_enq_3mnths,Tot_unsecured_outstanding_amt/#_enq_12mnths,Tot_unsecured_outstanding_amt/#_hle_enq_12mnths,Tot_unsecured_outstanding_amt/Tot_enq,Tot_unsecured_outstanding_amt/Tot_hle_enq,Tot_unsecured_outstanding_amt/#_defaults_3mnths,Tot_unsecured_outstanding_amt/#_defaults_12mnths,Tot_unsecured_outstanding_amt/days_last_acc_open,Tot_unsecured_outstanding_amt/Tot_accounts,Tot_unsecured_outstanding_amt/Tot_hle_accounts,Tot_unsecured_outstanding_amt/Tot_unsecured_loans,Tot_unsecured_outstanding_amt/Tot_live_loans,Tot_unsecured_outstanding_amt/Tot_live_homeloans,Tot_unsecured_outstanding_amt/Tot_live_unsecuredloans,Tot_unsecured_outstanding_amt/Tot_amt_outstanding,Tot_unsecured_outstanding_amt/Tot_secured_outstanding_amt,Tot_unsecured_outstanding_amt/Avg_days_in_debt,Avg_days_in_debt/Age,Avg_days_in_debt/Gross_income,Avg_days_in_debt/Net_income,Avg_days_in_debt/Months_in_city,Avg_days_in_debt/Months_in_current_job,Avg_days_in_debt/Bank_balance,Avg_days_in_debt/Debt_ratio,Avg_days_in_debt/days_last_enq,Avg_days_in_debt/days_hl_last_enq,Avg_days_in_debt/#_enq_3mnths,Avg_days_in_debt/#_hle_enq_3mnths,Avg_days_in_debt/#_enq_12mnths,Avg_days_in_debt/#_hle_enq_12mnths,Avg_days_in_debt/Tot_enq,Avg_days_in_debt/Tot_hle_enq,Avg_days_in_debt/#_defaults_3mnths,Avg_days_in_debt/#_defaults_12mnths,Avg_days_in_debt/days_last_acc_open,Avg_days_in_debt/Tot_accounts,Avg_days_in_debt/Tot_hle_accounts,Avg_days_in_debt/Tot_unsecured_loans,Avg_days_in_debt/Tot_live_loans,Avg_days_in_debt/Tot_live_homeloans,Avg_days_in_debt/Tot_live_unsecuredloans,Avg_days_in_debt/Tot_amt_outstanding,Avg_days_in_debt/Tot_secured_outstanding_amt,Avg_days_in_debt/Tot_unsecured_outstanding_amt
0,1794,40.000,SALARIED,70891.000,62491.000,MALE,OTHERS,MARRIED,229.000,108,INDIVIDUAL,37806.000,0.190,0,324,0,0,0,1,0,14,0,0,0,1486,9,0,8,2,0,2,275606,0,275606,5311,0.001,0.001,0.175,0.370,0.001,210.526,0.123,inf,inf,inf,40.000,inf,2.857,inf,inf,inf,0.027,4.444,inf,5.000,20.000,inf,20.000,0.000,inf,0.000,0.008,1772.275,1.134,309.568,656.398,1.875,373110.526,218.799,inf,inf,inf,70891.000,inf,5063.643,inf,inf,inf,47.706,7876.778,inf,8861.375,35445.500,inf,35445.500,0.257,inf,0.257,13.348,1562.275,0.882,272.886,578.620,1.653,328900.000,192.873,inf,inf,inf,62491.000,inf,4463.643,inf,inf,inf,42.053,6943.444,inf,7811.375,31245.500,inf,31245.500,0.227,inf,0.227,11.766,5.725,0.003,0.004,2.120,0.006,1205.263,0.707,inf,inf,inf,229.000,inf,16.357,inf,inf,inf,0.154,25.444,inf,28.625,114.500,inf,114.500,0.001,inf,0.001,0.043,2.700,0.002,0.002,0.472,0.003,568.421,0.333,inf,inf,inf,108.000,inf,7.714,inf,inf,inf,0.073,12.000,inf,13.500,54.000,inf,54.000,0.000,inf,0.000,0.020,945.150,0.533,0.605,165.092,350.056,198978.947,116.685,inf,inf,inf,37806.000,inf,2700.429,inf,inf,inf,25.441,4200.667,inf,4725.750,18903.000,inf,18903.000,0.137,inf,0.137,7.118,0.005,0.000,0.000,0.001,0.002,0.000,0.001,inf,inf,inf,0.190,inf,0.014,inf,inf,inf,0.000,0.021,inf,0.024,0.095,inf,0.095,0.000,inf,0.000,0.000,8.100,0.005,0.005,1.415,3.000,0.009,1705.263,inf,inf,inf,324.000,inf,23.143,inf,inf,inf,0.218,36.000,inf,40.500,162.000,inf,162.000,0.001,inf,0.001,...,4.500,inf,4.500,0.000,inf,0.000,0.002,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,0.000,NaN,0.000,NaN,NaN,NaN,0.000,0.000,0.000,0.000,NaN,0.000,0.000,NaN,0.000,0.000,0.200,0.000,0.000,0.035,0.074,0.000,42.105,0.025,inf,inf,inf,8.000,inf,0.571,inf,inf,inf,0.005,0.889,inf,4.000,inf,4.000,0.000,inf,0.000,0.002,0.050,0.000,0.000,0.009,0.019,0.000,10.526,0.006,inf,inf,inf,2.000,inf,0.143,inf,inf,inf,0.001,0.222,inf,0.250,inf,1.000,0.000,inf,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,0.000,NaN,0.000,NaN,NaN,NaN,0.000,0.000,NaN,0.000,0.000,0.000,0.000,NaN,0.000,0.000,0.050,0.000,0.000,0.009,0.019,0.000,10.526,0.006,inf,inf,inf,2.000,inf,0.143,inf,inf,inf,0.001,0.222,inf,0.250,1.000,inf,0.000,inf,0.000,0.000,6890.150,3.888,4.410,1203.520,2551.907,7.290,1450557.895,850.636,inf,inf,inf,275606.000,inf,19686.143,inf,inf,inf,185.468,30622.889,inf,34450.750,137803.000,inf,137803.000,inf,1.000,51.893,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,0.000,NaN,0.000,NaN,NaN,NaN,0.000,0.000,NaN,0.000,0.000,NaN,0.000,0.000,0.000,0.000,6890.150,3.888,4.410,1203.520,2551.907,7.290,1450557.895,850.636,inf,inf,inf,275606.000,inf,19686.143,inf,inf,inf,185.468,30622.889,inf,34450.750,137803.000,inf,137803.000,1.000,inf,51.893,132.775,0.075,0.085,23.192,49.176,0.140,27952.632,16.392,inf,inf,inf,5311.000,inf,379.357,inf,inf,inf,3.574,590.111,inf,663.875,2655.500,inf,2655.500,0.019,inf,0.019

In [22]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [23]:
non_obj = dt.loc[dt[0] != 'object',:].index.tolist()

In [24]:
non_obj.remove('ID')
non_obj.remove('Target')

In [25]:
non_obj_iv = pd.DataFrame()
for i in non_obj:
    temp = df.loc[:,[i,'Target']]
    temp['qcut'] = pd.qcut(temp[i],10,duplicates='drop')
    res = pd.crosstab(temp['qcut'],temp['Target'],normalize='columns').assign(woe=lambda x:np.log(x[0]/x[1])).assign(iv=lambda x:x['woe']*(x[0]-x[1]))
    res['name'] = i
    non_obj_iv = pd.concat([non_obj_iv,res])

In [26]:
obj = dt.loc[dt[0] == 'object'][0].index.tolist()

In [27]:
obj_iv = pd.DataFrame()
for i in obj:
    res = pd.crosstab(df[i],df['Target'],normalize='columns').assign(woe=lambda x:np.log(x[0]/x[1])).assign(iv=lambda x: x['woe']*(x[0]-x[1]))
    res['name'] = i
    obj_iv = pd.concat([obj_iv,res])

In [28]:
iv = pd.concat([non_obj_iv,obj_iv])

In [29]:
iv.rename(columns={0:'%good',1:'%bad'},inplace=True)

In [30]:
iv.drop(iv[iv['iv'].isin([np.inf,-np.inf])].index,inplace=True)

In [31]:
iv.sort_values(by='iv',ascending=False).head(20)

Target,%good,%bad,woe,iv,name
"(7.0, 57.0]",0.060,0.271,-1.503,0.316,#_enq_12mnths/#_hle_enq_3mnths
"(4.0, 23.0]",0.058,0.243,-1.426,0.263,#_enq_3mnths/#_defaults_3mnths
"(6.47, 52.0]",0.083,0.292,-1.256,0.262,#_enq_12mnths/Tot_hle_accounts
"(7.0, 52.0]",0.081,0.269,-1.197,0.225,#_enq_12mnths/Tot_live_homeloans
"(3.5, 24.0]",0.081,0.269,-1.197,0.225,#_enq_3mnths/Tot_live_homeloans
"(-0.001, 0.5]",0.241,0.067,1.284,0.224,#_enq_12mnths/Tot_hle_accounts
"(679187.1, 22513754.0]",0.077,0.257,-1.205,0.217,Tot_unsecured_outstanding_amt/#_defaults_3mnths
"(3.0, 23.0]",0.056,0.215,-1.347,0.215,#_enq_3mnths/#_hle_enq_3mnths
"(-0.001, 0.5]",0.216,0.058,1.319,0.208,#_enq_12mnths/Tot_live_homeloans
"(3.0, 24.0]",0.072,0.242,-1.216,0.207,#_enq_3mnths/Tot_hle_accounts
"(0.225, 2.379]",0.086,0.264,-1.122,0.200,#_enq_12mnths/Age
"(4.0, 16.0]",0.067,0.229,-1.232,0.199,Tot_live_unsecuredloans/#_defaults_3mnths
"(1.207, 7.5]",0.085,0.263,-1.123,0.199,Age/#_enq_3mnths
"(2.0, 12.0]",0.052,0.200,-1.345,0.199,#_hle_enq_3mnths/#_defaults_3mnths
"(8.0, 69.0]",0.079,0.251,-1.151,0.197,#_enq_12mnths
"(0.419, 3.9]",0.087,0.257,-1.086,0.185,Age/#_enq_12mnths
"(0.999, 1.5]",0.319,0.125,0.937,0.182,#_enq_12mnths/#_hle_enq_3mnths
"(4.0, 24.0]",0.060,0.207,-1.239,0.182,#_enq_3mnths
"(0.999, 1.117]",0.624,0.333,0.626,0.182,#_enq_3mnths/#_hle_enq_3mnths
SALARIED,0.447,0.210,0.755,0.179,Customer_type

In [32]:
list(set(iv.loc[iv['iv'] == 0,'name'].values.tolist()))

['days_last_acc_open/#_defaults_3mnths',
 'Tot_amt_outstanding/#_defaults_3mnths',
 'Avg_days_in_debt/#_defaults_3mnths',
 'Net_income/#_defaults_3mnths',
 'Gross_income/#_defaults_3mnths',
 'Tot_hle_enq/#_defaults_3mnths',
 '#_defaults_3mnths/#_defaults_12mnths',
 'Bank_balance/#_defaults_3mnths',
 'Tot_unsecured_outstanding_amt/#_defaults_3mnths',
 'Months_in_current_job/#_defaults_3mnths']

In [33]:
def get_nunique(lst,num):
    res = set()
    for i in lst:
        if i in res:
            continue
        res.add(i)
        yield i
        if len(res) == num:
            return

In [34]:
temp = get_nunique(list(set(iv.sort_values(by='iv')['name'])),774)

In [35]:
temp = list(temp)

In [36]:
df.drop(columns=temp,inplace=True)

### Decision tree

In [37]:
df = pd.get_dummies(df)

In [38]:
copy_ = df_copy.copy()

In [39]:
copy_ = pd.get_dummies(copy_)

In [40]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [41]:
df.isnull().sum().sort_values(ascending=False).head()

Tot_accounts/#_defaults_12mnths                        2957
Tot_live_homeloans/Tot_secured_outstanding_amt         1712
Tot_live_unsecuredloans/Tot_secured_outstanding_amt    1712
Gross_income/Tot_live_unsecuredloans                   1578
Months_in_current_job/days_hl_last_enq                 1149
dtype: int64

In [42]:
cols = copy_.columns.tolist()
cols.remove('ID')
cols.remove('Target')

In [43]:
model_performance = pd.DataFrame()
for i in cols:
    for ii in cols:
        if i != ii:
            x = df.loc[:,[i,ii]]
            y = df.loc[:,'Target']
            x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)
            model = DecisionTreeClassifier(criterion='entropy')
            model.fit(x_train,y_train)
            pred = model.predict(x_test)
            c = {}
            c['var1'] = [i]
            c['var2'] = [ii]
            c['accuracy'] = [accuracy_score(y_test,pred)]
            model_performance = pd.concat([model_performance,pd.DataFrame.from_dict(c)])

KeyError: "None of [Index(['Age', 'Gross_income'], dtype='object')] are in the [columns]"

In [88]:
model_performance.sort_values(by='accuracy',ascending=False).head()

,var1,var2,accuracy
0,Tot_hle_enq,Customer_type_SALARIED,0.950
0,Type_of_industry_PHARMACEUTICALS BULK DRUGS,#_enq_12mnths,0.949
0,Type_of_industry_OTHER MANUFACTURING,Type_of_industry_PAPER & PULP,0.949
0,Customer_type_SELF EMPLOYED,Type_of_industry_IT AND COMMUNICATION,0.949
0,Type_of_industry_ENGINEERING,Marital_Status_WIDOWED,0.948

In [110]:
og_cols = df_copy.columns.tolist()

In [99]:
new_cols = og_cols+temp

## Random forest

In [118]:
len(df.columns)

887

In [117]:
df.isnull().sum().sort_values(ascending=False)

days_last_acc_open/#_defaults_3mnths                           3335
Tot_hle_accounts/#_defaults_3mnths                             3335
#_defaults_12mnths/#_defaults_3mnths                           3335
Tot_secured_outstanding_amt/#_defaults_3mnths                  3335
Months_in_current_job/#_defaults_3mnths                        3335
#_enq_3mnths/#_defaults_3mnths                                 3335
Tot_accounts/#_defaults_3mnths                                 3335
Months_in_city/#_defaults_3mnths                               3335
Tot_unsecured_loans/#_defaults_3mnths                          3335
Tot_hle_enq/#_defaults_3mnths                                  3335
Net_income/#_defaults_3mnths                                   3335
Tot_amt_outstanding/#_defaults_3mnths                          3335
Tot_live_loans/#_defaults_3mnths                               3335
Tot_live_homeloans/#_defaults_3mnths                           3335
Age/#_defaults_3mnths                                          3335
Gross_income/#_defaults_3mnths                                 3335
Bank_balance/#_defaults_3mnths                                 3335
Tot_live_unsecuredloans/#_defaults_3mnths                      3335
Debt_ratio/#_defaults_3mnths                                   3335
Tot_enq/#_defaults_3mnths                                      3335
#_enq_12mnths/#_defaults_3mnths                                3335
days_hl_last_enq/#_defaults_3mnths                             3335
days_last_enq/#_defaults_3mnths                                3335
Tot_unsecured_outstanding_amt/#_defaults_3mnths                3335
#_hle_enq_12mnths/#_defaults_3mnths                            3335
#_hle_enq_3mnths/#_defaults_3mnths                             3335
Avg_days_in_debt/#_defaults_3mnths                             3335
#_hle_enq_3mnths/#_defaults_12mnths                            2957
#_enq_12mnths/#_defaults_12mnths                               2957
days_hl_last_enq/#_defaults_12mnths                            2957
Gross_income/#_defaults_12mnths                                2957
Tot_live_homeloans/#_defaults_12mnths                          2957
Net_income/#_defaults_12mnths                                  2957
Tot_unsecured_loans/#_defaults_12mnths                         2957
Tot_live_loans/#_defaults_12mnths                              2957
#_hle_enq_12mnths/#_defaults_12mnths                           2957
Tot_hle_accounts/#_defaults_12mnths                            2957
Tot_hle_enq/#_defaults_12mnths                                 2957
Months_in_city/#_defaults_12mnths                              2957
Tot_accounts/#_defaults_12mnths                                2957
days_last_enq/#_defaults_12mnths                               2957
Months_in_current_job/#_defaults_12mnths                       2957
days_last_acc_open/#_defaults_12mnths                          2957
Tot_live_unsecuredloans/#_defaults_12mnths                     2957
Tot_enq/#_defaults_12mnths                                     2957
Debt_ratio/#_defaults_12mnths                                  2957
Bank_balance/#_defaults_12mnths                                2957
#_defaults_3mnths/#_defaults_12mnths                           2957
Avg_days_in_debt/#_defaults_12mnths                            2957
#_enq_3mnths/#_defaults_12mnths                                2957
Tot_secured_outstanding_amt/#_defaults_12mnths                 2957
Age/#_defaults_12mnths                                         2957
Tot_unsecured_outstanding_amt/#_defaults_12mnths               2957
Tot_amt_outstanding/#_defaults_12mnths                         2957
Debt_ratio/Tot_live_homeloans                                  2613
days_last_acc_open/Tot_live_homeloans                          2613
Gross_income/Tot_live_homeloans                                2613
Tot_live_loans/Tot_live_homeloans                              2613
#_enq_12mnths/Tot_live_homeloans                               2613
Avg_days_in_debt/Tot_live_homeloans                            2613
Tot_accounts/Tot_live_homeloans                                2613
Tot_hle_enq/Tot_live_homeloans                                 2613
Months_in_city/Tot_live_homeloans                              2613
days_hl_last_enq/Tot_live_homeloans                            2613
Tot_unsecured_outstanding_amt/Tot_live_homeloans               2613
Tot_unsecured_loans/Tot_live_homeloans                         2613
Net_income/Tot_live_homeloans                                  2613
#_hle_enq_12mnths/Tot_live_homeloans                           2613
Tot_enq/Tot_live_homeloans                                     2613
Tot_amt_outstanding/Tot_live_homeloans                         2613
days_last_enq/Tot_live_homeloans                               2613
Tot_hle_accounts/Tot_live_homeloans                            2613
Age/Tot_live_homeloans                                         2613
#_defaults_3mnths/Tot_live_homeloans                           2613
Tot_secured_outstanding_amt/Tot_live_homeloans                 2613
Months_in_current_job/Tot_live_homeloans                       2613
Tot_live_unsecuredloans/Tot_live_homeloans                     2613
#_hle_enq_3mnths/Tot_live_homeloans                            2613
#_defaults_12mnths/Tot_live_homeloans                          2613
Bank_balance/Tot_live_homeloans                                2613
#_enq_3mnths/Tot_live_homeloans                                2613
Months_in_city/Tot_hle_accounts                                2453
#_hle_enq_12mnths/Tot_hle_accounts                             2453
Net_income/Tot_hle_accounts                                    2453
Age/Tot_hle_accounts                                           2453
Tot_unsecured_loans/Tot_hle_accounts                           2453
Tot_live_homeloans/Tot_hle_accounts                            2453
#_defaults_12mnths/Tot_hle_accounts                            2453
Bank_balance/Tot_hle_accounts                                  2453
Tot_live_unsecuredloans/Tot_hle_accounts                       2453
Tot_secured_outstanding_amt/Tot_hle_accounts                   2453
Tot_unsecured_outstanding_amt/Tot_hle_accounts                 2453
Tot_enq/Tot_hle_accounts                                       2453
#_enq_3mnths/Tot_hle_accounts                                  2453
Tot_amt_outstanding/Tot_hle_accounts                           2453
days_last_enq/Tot_hle_accounts                                 2453
Debt_ratio/Tot_hle_accounts                                    2453
Months_in_current_job/Tot_hle_accounts                         2453
#_defaults_3mnths/Tot_hle_accounts                             2453
Tot_accounts/Tot_hle_accounts                                  2453
Tot_hle_enq/Tot_hle_accounts                                   2453
#_hle_enq_3mnths/Tot_hle_accounts                              2453
#_enq_12mnths/Tot_hle_accounts                                 2453
Tot_live_loans/Tot_hle_accounts                                2453
days_last_acc_open/Tot_hle_accounts                            2453
Gross_income/Tot_hle_accounts                                  2453
days_hl_last_enq/Tot_hle_accounts                              2453
Avg_days_in_debt/Tot_hle_accounts                              2453
Months_in_city/#_hle_enq_3mnths                                2115
Tot_unsecured_outstanding_amt/#_hle_enq_3mnths                 2115
Tot_secured_outstanding_amt/#_hle_enq_3mnths                   2115
#_defaults_3mnths/#_hle_enq_3mnths                             2115
Tot_hle_accounts/#_hle_enq_3mnths                              2115
Tot_hle_enq/#_hle_enq_3mnths                                   2115
Months_in_current_job/#_hle_enq_3mnths                         2115
Tot_enq/#_hle_enq_3mnths                                       2115
Debt_ratio/#_hle_enq_3mnths                                    2115
days_last_acc_open/#_hle_enq_3mnths                            2115
Tot_accounts/#_hle_enq_3mnths                                  2115
Tot_unsecured_loans/#_hle_enq_3mnths                           2115
days_last_enq/#_hle_enq_3mnths                                 2115
#_hle_enq_12mnths/#_hle_enq_3mnths                             2115
#_enq_3mnths/#_hle_enq_3mnths                                  2115
Tot_live_unsecuredloans/#_hle_enq_3mnths                       2115
Avg_days_in_debt/#_hle_enq_3mnths                              2115
Gross_income/#_hle_enq_3mnths                                  2115
Tot_amt_outstanding/#_hle_enq_3mnths                           2115
Tot_live_homeloans/#_hle_enq_3mnths                            2115
#_enq_12mnths/#_hle_enq_3mnths                                 2115
days_hl_last_enq/#_hle_enq_3mnths                              2115
Tot_live_loans/#_hle_enq_3mnths                                2115
Net_income/#_hle_enq_3mnths                                    2115
#_defaults_12mnths/#_hle_enq_3mnths                            2115
Age/#_hle_enq_3mnths                                           2115
Bank_balance/#_hle_enq_3mnths                                  2115
Tot_enq/Tot_unsecured_outstanding_amt                          1733
Months_in_current_job/Tot_unsecured_outstanding_amt            1733
Bank_balance/Tot_unsecured_outstanding_amt                     1733
Net_income/Tot_unsecured_outstanding_amt                       1733
days_hl_last_enq/Tot_unsecured_outstanding_amt                 1733
Avg_days_in_debt/Tot_unsecured_outstanding_amt                 1733
Tot_live_homeloans/Tot_unsecured_outstanding_amt               1733
Gross_income/Tot_unsecured_outstanding_amt                     1733
#_enq_3mnths/Tot_unsecured_outstanding_amt                     1733
#_defaults_3mnths/Tot_unsecured_outstanding_amt                1733
#_defaults_12mnths/Tot_unsecured_outstanding_amt               1733
Tot_hle_accounts/Tot_unsecured_outstanding_amt                 1733
Tot_live_unsecuredloans/Tot_unsecured_outstanding_amt          1733
Age/Tot_unsecured_outstanding_amt                              1733
Debt_ratio/Tot_unsecured_outstanding_amt                       1733
#_hle_enq_3mnths/Tot_unsecured_outstanding_amt                 1733
Tot_hle_enq/Tot_unsecured_outstanding_amt                      1733
days_last_acc_open/Tot_unsecured_outstanding_amt               1733
days_last_enq/Tot_unsecured_outstanding_amt                    1733
Months_in_city/Tot_unsecured_outstanding_amt                   1733
Tot_unsecured_loans/Tot_unsecured_outstanding_amt              1733
Tot_accounts/Tot_unsecured_outstanding_amt                     1733
#_enq_12mnths/Tot_unsecured_outstanding_amt                    1733
Tot_amt_outstanding/Tot_unsecured_outstanding_amt              1733
Tot_secured_outstanding_amt/Tot_unsecured_outstanding_amt      1733
Tot_live_loans/Tot_unsecured_outstanding_amt                   1733
#_hle_enq_12mnths/Tot_unsecured_outstanding_amt                1733
#_enq_12mnths/Tot_secured_outstanding_amt                      1712
Tot_unsecured_outstanding_amt/Tot_secured_outstanding_amt      1712
Tot_hle_enq/Tot_secured_outstanding_amt                        1712
Debt_ratio/Tot_secured_outstanding_amt                         1712
days_hl_last_enq/Tot_secured_outstanding_amt                   1712
Bank_balance/Tot_secured_outstanding_amt                       1712
Tot_enq/Tot_secured_outstanding_amt                            1712
#_enq_3mnths/Tot_secured_outstanding_amt                       1712
#_hle_enq_12mnths/Tot_secured_outstanding_amt                  1712
#_hle_enq_3mnths/Tot_secured_outstanding_amt                   1712
days_last_enq/Tot_secured_outstanding_amt                      1712
#_defaults_3mnths/Tot_secured_outstanding_amt                  1712
Tot_live_unsecuredloans/Tot_secured_outstanding_amt            1712
Tot_hle_accounts/Tot_secured_outstanding_amt                   1712
days_last_acc_open/Tot_secured_outstanding_amt                 1712
Age/Tot_secured_outstanding_amt                                1712
Tot_live_homeloans/Tot_secured_outstanding_amt                 1712
Gross_income/Tot_secured_outstanding_amt                       1712
Tot_live_loans/Tot_secured_outstanding_amt                     1712
Tot_unsecured_loans/Tot_secured_outstanding_amt                1712
Net_income/Tot_secured_outstanding_amt                         1712
Tot_amt_outstanding/Tot_secured_outstanding_amt                1712
Tot_accounts/Tot_secured_outstanding_amt                       1712
Months_in_city/Tot_secured_outstanding_amt                     1712
Avg_days_in_debt/Tot_secured_outstanding_amt                   1712
#_defaults_12mnths/Tot_secured_outstanding_amt                 1712
Months_in_current_job/Tot_secured_outstanding_amt              1712
#_defaults_12mnths/#_hle_enq_12mnths                           1621
days_last_acc_open/#_hle_enq_12mnths                           1621
Tot_unsecured_loans/#_hle_enq_12mnths                          1621
Tot_secured_outstanding_amt/#_hle_enq_12mnths                  1621
Tot_enq/#_hle_enq_12mnths                                      1621
Tot_unsecured_outstanding_amt/#_hle_enq_12mnths                1621
Months_in_city/#_hle_enq_12mnths                               1621
Tot_hle_accounts/#_hle_enq_12mnths                             1621
Net_income/#_hle_enq_12mnths                                   1621
Tot_live_loans/#_hle_enq_12mnths                               1621
Age/#_hle_enq_12mnths                                          1621
Tot_amt_outstanding/#_hle_enq_12mnths                          1621
days_last_enq/#_hle_enq_12mnths                                1621
Tot_hle_enq/#_hle_enq_12mnths                                  1621
#_enq_12mnths/#_hle_enq_12mnths                                1621
days_hl_last_enq/#_hle_enq_12mnths                             1621
Tot_accounts/#_hle_enq_12mnths                                 1621
Gross_income/#_hle_enq_12mnths                                 1621
#_enq_3mnths/#_hle_enq_12mnths                                 1621
Tot_live_unsecuredloans/#_hle_enq_12mnths                      1621
#_defaults_3mnths/#_hle_enq_12mnths                            1621
#_hle_enq_3mnths/#_hle_enq_12mnths                             1621
Months_in_current_job/#_hle_enq_12mnths                        1621
Avg_days_in_debt/#_hle_enq_12mnths                             1621
Bank_balance/#_hle_enq_12mnths                                 1621
Debt_ratio/#_hle_enq_12mnths                                   1621
Tot_live_homeloans/#_hle_enq_12mnths                           1621
#_enq_3mnths/Tot_live_unsecuredloans                           1578
Age/Tot_live_unsecuredloans                                    1578
#_hle_enq_12mnths/Tot_live_unsecuredloans                      1578
Tot_unsecured_loans/Tot_live_unsecuredloans                    1578
days_hl_last_enq/Tot_live_unsecuredloans                       1578
#_hle_enq_3mnths/Tot_live_unsecuredloans                       1578
Tot_live_loans/Tot_live_unsecuredloans                         1578
days_last_enq/Tot_live_unsecuredloans                          1578
Tot_unsecured_outstanding_amt/Tot_live_unsecuredloans          1578
#_defaults_12mnths/Tot_live_unsecuredloans                     1578
Gross_income/Tot_live_unsecuredloans                           1578
#_enq_12mnths/Tot_live_unsecuredloans                          1578
Tot_live_homeloans/Tot_live_unsecuredloans                     1578
Avg_days_in_debt/Tot_live_unsecuredloans                       1578
Months_in_current_job/Tot_live_unsecuredloans                  1578
Net_income/Tot_live_unsecuredloans                             1578
Tot_amt_outstanding/Tot_live_unsecuredloans                    1578
Tot_accounts/Tot_live_unsecuredloans                           1578
#_defaults_3mnths/Tot_live_unsecuredloans                      1578
Debt_ratio/Tot_live_unsecuredloans                             1578
Tot_hle_enq/Tot_live_unsecuredloans                            1578
Bank_balance/Tot_live_unsecuredloans                           1578
Tot_secured_outstanding_amt/Tot_live_unsecuredloans            1578
Tot_enq/Tot_live_unsecuredloans                                1578
Months_in_city/Tot_live_unsecuredloans                         1578
Tot_hle_accounts/Tot_live_unsecuredloans                       1578
days_last_acc_open/Tot_live_unsecuredloans                     1578
#_defaults_12mnths/#_enq_3mnths                                1456
Debt_ratio/#_enq_3mnths                                        1456
Tot_accounts/#_enq_3mnths                                      1456
Tot_amt_outstanding/#_enq_3mnths                               1456
Months_in_current_job/#_enq_3mnths                             1456
Tot_live_homeloans/#_enq_3mnths                                1456
#_defaults_3mnths/#_enq_3mnths                                 1456
#_hle_enq_3mnths/#_enq_3mnths                                  1456
#_enq_12mnths/#_enq_3mnths                                     1456
Avg_days_in_debt/#_enq_3mnths                                  1456
Tot_unsecured_outstanding_amt/#_enq_3mnths                     1456
Tot_unsecured_loans/#_enq_3mnths                               1456
Age/#_enq_3mnths                                               1456
Tot_hle_enq/#_enq_3mnths                                       1456
days_hl_last_enq/#_enq_3mnths                                  1456
Tot_live_unsecuredloans/#_enq_3mnths                           1456
days_last_enq/#_enq_3mnths                                     1456
Tot_secured_outstanding_amt/#_enq_3mnths                       1456
Tot_enq/#_enq_3mnths                                           1456
Tot_hle_accounts/#_enq_3mnths                                  1456
Net_income/#_enq_3mnths                                        1456
Months_in_city/#_enq_3mnths                                    1456
#_hle_enq_12mnths/#_enq_3mnths                                 1456
Tot_live_loans/#_enq_3mnths                                    1456
days_last_acc_open/#_enq_3mnths                                1456
Bank_balance/#_enq_3mnths                                      1456
Gross_income/#_enq_3mnths                                      1456
Tot_live_unsecuredloans/days_hl_last_enq                       1149
#_hle_enq_3mnths/days_hl_last_enq                              1149
Tot_enq/days_hl_last_enq                                       1149
Tot_accounts/days_hl_last_enq                                  1149
Tot_amt_outstanding/days_hl_last_enq                           1149
Tot_secured_outstanding_amt/days_hl_last_enq                   1149
Tot_unsecured_outstanding_amt/days_hl_last_enq                 1149
#_enq_12mnths/days_hl_last_enq                                 1149
Avg_days_in_debt/days_hl_last_enq                              1149
Tot_unsecured_loans/days_hl_last_enq                           1149
Tot_hle_enq/days_hl_last_enq                                   1149
Tot_hle_accounts/days_hl_last_enq                              1149
#_hle_enq_12mnths/days_hl_last_enq                             1149
Tot_live_loans/days_hl_last_enq                                1149
#_defaults_12mnths/days_hl_last_enq                            1149
days_last_acc_open/days_hl_last_enq                            1149
Tot_live_homeloans/days_hl_last_enq                            1149
#_defaults_3mnths/days_hl_last_enq                             1149
Age/days_hl_last_enq                                           1149
Months_in_city/days_hl_last_enq                                1149
Months_in_current_job/days_hl_last_enq                         1149
Gross_income/days_hl_last_enq                                  1149
days_last_enq/days_hl_last_enq                                 1149
Net_income/days_hl_last_enq                                    1149

In [113]:
rf_model = RandomForestClassifier(criterion='entropy')

In [115]:
df.head(2)

,ID,Age,Gross_income,Net_income,Months_in_city,Months_in_current_job,Bank_balance,Debt_ratio,Target,days_last_enq,days_hl_last_enq,#_enq_3mnths,#_hle_enq_3mnths,#_enq_12mnths,#_hle_enq_12mnths,Tot_enq,Tot_hle_enq,#_defaults_3mnths,#_defaults_12mnths,days_last_acc_open,Tot_accounts,Tot_hle_accounts,Tot_unsecured_loans,Tot_live_loans,Tot_live_homeloans,Tot_live_unsecuredloans,Tot_amt_outstanding,Tot_secured_outstanding_amt,Tot_unsecured_outstanding_amt,Avg_days_in_debt,Age/Gross_income,Age/Net_income,Age/Months_in_city,Age/Months_in_current_job,Age/Bank_balance,Age/Debt_ratio,Age/days_last_enq,Age/days_hl_last_enq,Age/#_enq_3mnths,Age/#_hle_enq_3mnths,Age/#_enq_12mnths,Age/#_hle_enq_12mnths,Age/Tot_enq,Age/Tot_hle_enq,Age/#_defaults_3mnths,Age/#_defaults_12mnths,Age/days_last_acc_open,Age/Tot_accounts,Age/Tot_hle_accounts,Age/Tot_unsecured_loans,Age/Tot_live_loans,Age/Tot_live_homeloans,Age/Tot_live_unsecuredloans,Age/Tot_amt_outstanding,Age/Tot_secured_outstanding_amt,Age/Tot_unsecured_outstanding_amt,Age/Avg_days_in_debt,Gross_income/Age,Gross_income/Net_income,Gross_income/Months_in_city,Gross_income/Months_in_current_job,Gross_income/Bank_balance,Gross_income/Debt_ratio,Gross_income/days_last_enq,Gross_income/days_hl_last_enq,Gross_income/#_enq_3mnths,Gross_income/#_hle_enq_3mnths,Gross_income/#_enq_12mnths,Gross_income/#_hle_enq_12mnths,Gross_income/Tot_enq,Gross_income/Tot_hle_enq,Gross_income/#_defaults_3mnths,Gross_income/#_defaults_12mnths,Gross_income/days_last_acc_open,Gross_income/Tot_accounts,Gross_income/Tot_hle_accounts,Gross_income/Tot_unsecured_loans,Gross_income/Tot_live_loans,Gross_income/Tot_live_homeloans,Gross_income/Tot_live_unsecuredloans,Gross_income/Tot_amt_outstanding,Gross_income/Tot_secured_outstanding_amt,Gross_income/Tot_unsecured_outstanding_amt,Gross_income/Avg_days_in_debt,Net_income/Age,Net_income/Gross_income,Net_income/Months_in_city,Net_income/Months_in_current_job,Net_income/Bank_balance,Net_income/Debt_ratio,Net_income/days_last_enq,Net_income/days_hl_last_enq,Net_income/#_enq_3mnths,Net_income/#_hle_enq_3mnths,Net_income/#_enq_12mnths,Net_income/#_hle_enq_12mnths,Net_income/Tot_enq,Net_income/Tot_hle_enq,Net_income/#_defaults_3mnths,Net_income/#_defaults_12mnths,Net_income/days_last_acc_open,Net_income/Tot_accounts,Net_income/Tot_hle_accounts,Net_income/Tot_unsecured_loans,Net_income/Tot_live_loans,Net_income/Tot_live_homeloans,Net_income/Tot_live_unsecuredloans,Net_income/Tot_amt_outstanding,Net_income/Tot_secured_outstanding_amt,Net_income/Tot_unsecured_outstanding_amt,Net_income/Avg_days_in_debt,Months_in_city/Age,Months_in_city/Gross_income,Months_in_city/Net_income,Months_in_city/Months_in_current_job,Months_in_city/Bank_balance,Months_in_city/Debt_ratio,Months_in_city/days_last_enq,Months_in_city/days_hl_last_enq,Months_in_city/#_enq_3mnths,Months_in_city/#_hle_enq_3mnths,Months_in_city/#_enq_12mnths,Months_in_city/#_hle_enq_12mnths,Months_in_city/Tot_enq,Months_in_city/Tot_hle_enq,Months_in_city/#_defaults_3mnths,Months_in_city/#_defaults_12mnths,Months_in_city/days_last_acc_open,Months_in_city/Tot_accounts,Months_in_city/Tot_hle_accounts,Months_in_city/Tot_unsecured_loans,Months_in_city/Tot_live_loans,Months_in_city/Tot_live_homeloans,Months_in_city/Tot_live_unsecuredloans,Months_in_city/Tot_amt_outstanding,Months_in_city/Tot_secured_outstanding_amt,Months_in_city/Tot_unsecured_outstanding_amt,Months_in_city/Avg_days_in_debt,Months_in_current_job/Age,Months_in_current_job/Gross_income,Months_in_current_job/Net_income,Months_in_current_job/Months_in_city,Months_in_current_job/Bank_balance,Months_in_current_job/Debt_ratio,Months_in_current_job/days_last_enq,Months_in_current_job/days_hl_last_enq,Months_in_current_job/#_enq_3mnths,Months_in_current_job/#_hle_enq_3mnths,Months_in_current_job/#_enq_12mnths,Months_in_current_job/#_hle_enq_12mnths,Months_in_current_job/Tot_enq,Months_in_current_job/Tot_hle_enq,Months_in_current_job/#_defaults_3mnths,Months_in_current_job/#_defaults_12mnths,Months_in_current_job/days_last_acc_open,Months_in_current_job/Tot_accounts,Months_in_current_job/Tot_hle_accounts,Months_in_current_job/Tot_unsecured_loans,Months_in_current_job/Tot_live_loans,Months_in_current_job/Tot_live_homeloans,Months_in_current_job/Tot_live_unsecuredloans,Months_in_current_job/Tot_amt_outstanding,Months_in_current_job/Tot_secured_outstanding_amt,Months_in_current_job/Tot_unsecured_outstanding_amt,Months_in_current_job/Avg_days_in_debt,Bank_balance/Age,Bank_balance/Gross_income,Bank_balance/Net_income,Bank_balance/Months_in_city,Bank_balance/Months_in_current_job,Bank_balance/Debt_ratio,Bank_balance/days_last_enq,Bank_balance/days_hl_last_enq,Bank_balance/#_enq_3mnths,Bank_balance/#_hle_enq_3mnths,Bank_balance/#_enq_12mnths,Bank_balance/#_hle_enq_12mnths,Bank_balance/Tot_enq,Bank_balance/Tot_hle_enq,Bank_balance/#_defaults_3mnths,Bank_balance/#_defaults_12mnths,Bank_balance/days_last_acc_open,Bank_balance/Tot_accounts,Bank_balance/Tot_hle_accounts,Bank_balance/Tot_unsecured_loans,Bank_balance/Tot_live_loans,Bank_balance/Tot_live_homeloans,Bank_balance/Tot_live_unsecuredloans,Bank_balance/Tot_amt_outstanding,Bank_balance/Tot_secured_outstanding_amt,Bank_balance/Tot_unsecured_outstanding_amt,Bank_balance/Avg_days_in_debt,Debt_ratio/Age,Debt_ratio/Gross_income,Debt_ratio/Net_income,Debt_ratio/Months_in_city,Debt_ratio/Months_in_current_job,Debt_ratio/Bank_balance,Debt_ratio/days_last_enq,Debt_ratio/days_hl_last_enq,Debt_ratio/#_enq_3mnths,Debt_ratio/#_hle_enq_3mnths,Debt_ratio/#_enq_12mnths,Debt_ratio/#_hle_enq_12mnths,Debt_ratio/Tot_enq,Debt_ratio/Tot_hle_enq,Debt_ratio/#_defaults_3mnths,Debt_ratio/#_defaults_12mnths,Debt_ratio/days_last_acc_open,Debt_ratio/Tot_accounts,Debt_ratio/Tot_hle_accounts,Debt_ratio/Tot_unsecured_loans,Debt_ratio/Tot_live_loans,Debt_ratio/Tot_live_homeloans,Debt_ratio/Tot_live_unsecuredloans,Debt_ratio/Tot_amt_outstanding,Debt_ratio/Tot_secured_outstanding_amt,Debt_ratio/Tot_unsecured_outstanding_amt,Debt_ratio/Avg_days_in_debt,days_last_enq/Age,days_last_enq/Gross_income,days_last_enq/Net_income,days_last_enq/Months_in_city,days_last_enq/Months_in_current_job,days_last_enq/Bank_balance,days_last_enq/Debt_ratio,days_last_enq/days_hl_last_enq,days_last_enq/#_enq_3mnths,days_last_enq/#_hle_enq_3mnths,days_last_enq/#_enq_12mnths,days_last_enq/#_hle_enq_12mnths,days_last_enq/Tot_enq,days_last_enq/Tot_hle_enq,days_last_enq/#_defaults_3mnths,days_last_enq/#_defaults_12mnths,days_last_enq/days_last_acc_open,days_last_enq/Tot_accounts,days_last_enq/Tot_hle_accounts,days_last_enq/Tot_unsecured_loans,days_last_enq/Tot_live_loans,days_last_enq/Tot_live_homeloans,days_last_enq/Tot_live_unsecuredloans,days_last_enq/Tot_amt_outstanding,days_last_enq/Tot_secured_outstanding_amt,days_last_enq/Tot_unsecured_outstanding_amt,days_last_enq/Avg_days_in_debt,days_hl_last_enq/Age,days_hl_last_enq/Gross_income,days_hl_last_enq/Net_income,days_hl_last_enq/Months_in_city,...,Tot_live_homeloans/Tot_enq,Tot_live_homeloans/Tot_hle_enq,Tot_live_homeloans/#_defaults_3mnths,Tot_live_homeloans/#_defaults_12mnths,Tot_live_homeloans/days_last_acc_open,Tot_live_homeloans/Tot_accounts,Tot_live_homeloans/Tot_hle_accounts,Tot_live_homeloans/Tot_unsecured_loans,Tot_live_homeloans/Tot_live_loans,Tot_live_homeloans/Tot_live_unsecuredloans,Tot_live_homeloans/Tot_amt_outstanding,Tot_live_homeloans/Tot_secured_outstanding_amt,Tot_live_homeloans/Tot_unsecured_outstanding_amt,Tot_live_homeloans/Avg_days_in_debt,Tot_live_unsecuredloans/Age,Tot_live_unsecuredloans/Gross_income,Tot_live_unsecuredloans/Net_income,Tot_live_unsecuredloans/Months_in_city,Tot_live_unsecuredloans/Months_in_current_job,Tot_live_unsecuredloans/Bank_balance,Tot_live_unsecuredloans/Debt_ratio,Tot_live_unsecuredloans/days_last_enq,Tot_live_unsecuredloans/days_hl_last_enq,Tot_live_unsecuredloans/#_enq_3mnths,Tot_live_unsecuredloans/#_hle_enq_3mnths,Tot_live_unsecuredloans/#_enq_12mnths,Tot_live_unsecuredloans/#_hle_enq_12mnths,Tot_live_unsecuredloans/Tot_enq,Tot_live_unsecuredloans/Tot_hle_enq,Tot_live_unsecuredloans/#_defaults_3mnths,Tot_live_unsecuredloans/#_defaults_12mnths,Tot_live_unsecuredloans/days_last_acc_open,Tot_live_unsecuredloans/Tot_accounts,Tot_live_unsecuredloans/Tot_hle_accounts,Tot_live_unsecuredloans/Tot_unsecured_loans,Tot_live_unsecuredloans/Tot_live_loans,Tot_live_unsecuredloans/Tot_live_homeloans,Tot_live_unsecuredloans/Tot_amt_outstanding,Tot_live_unsecuredloans/Tot_secured_outstanding_amt,Tot_live_unsecuredloans/Tot_unsecured_outstanding_amt,Tot_live_unsecuredloans/Avg_days_in_debt,Tot_amt_outstanding/Age,Tot_amt_outstanding/Gross_income,Tot_amt_outstanding/Net_income,Tot_amt_outstanding/Months_in_city,Tot_amt_outstanding/Months_in_current_job,Tot_amt_outstanding/Bank_balance,Tot_amt_outstanding/Debt_ratio,Tot_amt_outstanding/days_last_enq,Tot_amt_outstanding/days_hl_last_enq,Tot_amt_outstanding/#_enq_3mnths,Tot_amt_outstanding/#_hle_enq_3mnths,Tot_amt_outstanding/#_enq_12mnths,Tot_amt_outstanding/#_hle_enq_12mnths,Tot_amt_outstanding/Tot_enq,Tot_amt_outstanding/Tot_hle_enq,Tot_amt_outstanding/#_defaults_3mnths,Tot_amt_outstanding/#_defaults_12mnths,Tot_amt_outstanding/days_last_acc_open,Tot_amt_outstanding/Tot_accounts,Tot_amt_outstanding/Tot_hle_accounts,Tot_amt_outstanding/Tot_unsecured_loans,Tot_amt_outstanding/Tot_live_loans,Tot_amt_outstanding/Tot_live_homeloans,Tot_amt_outstanding/Tot_live_unsecuredloans,Tot_amt_outstanding/Tot_secured_outstanding_amt,Tot_amt_outstanding/Tot_unsecured_outstanding_amt,Tot_amt_outstanding/Avg_days_in_debt,Tot_secured_outstanding_amt/Age,Tot_secured_outstanding_amt/Gross_income,Tot_secured_outstanding_amt/Net_income,Tot_secured_outstanding_amt/Months_in_city,Tot_secured_outstanding_amt/Months_in_current_job,Tot_secured_outstanding_amt/Bank_balance,Tot_secured_outstanding_amt/Debt_ratio,Tot_secured_outstanding_amt/days_last_enq,Tot_secured_outstanding_amt/days_hl_last_enq,Tot_secured_outstanding_amt/#_enq_3mnths,Tot_secured_outstanding_amt/#_hle_enq_3mnths,Tot_secured_outstanding_amt/#_enq_12mnths,Tot_secured_outstanding_amt/#_hle_enq_12mnths,Tot_secured_outstanding_amt/Tot_enq,Tot_secured_outstanding_amt/Tot_hle_enq,Tot_secured_outstanding_amt/#_defaults_3mnths,Tot_secured_outstanding_amt/#_defaults_12mnths,Tot_secured_outstanding_amt/days_last_acc_open,Tot_secured_outstanding_amt/Tot_accounts,Tot_secured_outstanding_amt/Tot_hle_accounts,Tot_secured_outstanding_amt/Tot_unsecured_loans,Tot_secured_outstanding_amt/Tot_live_loans,Tot_secured_outstanding_amt/Tot_live_homeloans,Tot_secured_outstanding_amt/Tot_live_unsecuredloans,Tot_secured_outstanding_amt/Tot_amt_outstanding,Tot_secured_outstanding_amt/Tot_unsecured_outstanding_amt,Tot_secured_outstanding_amt/Avg_days_in_debt,Tot_unsecured_outstanding_amt/Age,Tot_unsecured_outstanding_amt/Gross_income,Tot_unsecured_outstanding_amt/Net_income,Tot_unsecured_outstanding_amt/Months_in_city,Tot_unsecured_outstanding_amt/Months_in_current_job,Tot_unsecured_outstanding_amt/Bank_balance,Tot_unsecured_outstanding_amt/Debt_ratio,Tot_unsecured_outstanding_amt/days_last_enq,Tot_unsecured_outstanding_amt/days_hl_last_enq,Tot_unsecured_outstanding_amt/#_enq_3mnths,Tot_unsecured_outstanding_amt/#_hle_enq_3mnths,Tot_unsecured_outstanding_amt/#_enq_12mnths,Tot_unsecured_outstanding_amt/#_hle_enq_12mnths,Tot_unsecured_outstanding_amt/Tot_enq,Tot_unsecured_outstanding_amt/Tot_hle_enq,Tot_unsecured_outstanding_amt/#_defaults_3mnths,Tot_unsecured_outstanding_amt/#_defaults_12mnths,Tot_unsecured_outstanding_amt/days_last_acc_open,Tot_unsecured_outstanding_amt/Tot_accounts,Tot_unsecured_outstanding_amt/Tot_hle_accounts,Tot_unsecured_outstanding_amt/Tot_unsecured_loans,Tot_unsecured_outstanding_amt/Tot_live_loans,Tot_unsecured_outstanding_amt/Tot_live_homeloans,Tot_unsecured_outstanding_amt/Tot_live_unsecuredloans,Tot_unsecured_outstanding_amt/Tot_amt_outstanding,Tot_unsecured_outstanding_amt/Tot_secured_outstanding_amt,Tot_unsecured_outstanding_amt/Avg_days_in_debt,Avg_days_in_debt/Age,Avg_days_in_debt/Gross_income,Avg_days_in_debt/Net_income,Avg_days_in_debt/Months_in_city,Avg_days_in_debt/Months_in_current_job,Avg_days_in_debt/Bank_balance,Avg_days_in_debt/Debt_ratio,Avg_days_in_debt/days_last_enq,Avg_days_in_debt/days_hl_last_enq,Avg_days_in_debt/#_enq_3mnths,Avg_days_in_debt/#_hle_enq_3mnths,Avg_days_in_debt/#_enq_12mnths,Avg_days_in_debt/#_hle_enq_12mnths,Avg_days_in_debt/Tot_enq,Avg_days_in_debt/Tot_hle_enq,Avg_days_in_debt/#_defaults_3mnths,Avg_days_in_debt/#_defaults_12mnths,Avg_days_in_debt/days_last_acc_open,Avg_days_in_debt/Tot_accounts,Avg_days_in_debt/Tot_hle_accounts,Avg_days_in_debt/Tot_unsecured_loans,Avg_days_in_debt/Tot_live_loans,Avg_days_in_debt/Tot_live_homeloans,Avg_days_in_debt/Tot_live_unsecuredloans,Avg_days_in_debt/Tot_amt_outstanding,Avg_days_in_debt/Tot_secured_outstanding_amt,Avg_days_in_debt/Tot_unsecured_outstanding_amt,Customer_type_NON EARNING,Customer_type_SALARIED,Customer_type_SELF EMPLOYED,SEX_FEMALE,SEX_MALE,Type_of_industry_AGRICULTURE,Type_of_industry_AUTO COMPONENTS,Type_of_industry_AUTOMOTIVE,Type_of_industry_BANKING AND FINANCE,Type_of_industry_CEMENT AND CEMENT PRODUCTS,Type_of_industry_CERAMIC TILES AND SANITARY WARE,Type_of_industry_CHEMICALS,Type_of_industry_COAL,Type_of_industry_COMMUNICATION,Type_of_industry_CONSTRUCTION,Type_of_industry_CONSTRUCTION IRRIGATION PROJECTS,Type_of_industry_CONSTRUCTION REAL ESTATE AND INDUSTRIAL,Type_of_industry_CONSUMER ELECTRONICS,Type_of_industry_CONSUMER PRODUCTS,Type_of_industry_CONTAINERS AND PACKING,Type_of_industry_EDUCATION,Type_of_industry_ELECTRICAL EQUIPMENT AND COMPONENTS,Type_of_industry_ELECTRICAL MACHINERY,Type_of_industry_ELECTRONICS,Type_of_industry_ENGINEERING,Type_of_industry_ENTERTAINMENT AND LEISURE,Type_of_industry_ERW STEEL PIPES,Type_of_industry_FABRICATED METAL PRODUCT,Type_of_industry_FMCG,Type_of_industry_FOOD PRODUCTS,Type_of_industry_GEMS AND JEWELLRY,Type_of_industry_GIFT ITEMS AND HANDICRAFTS,Type_of_industry_GLASS AND GLASS PRODUCTS,Type_of_industry_GOVERNMENT,Type_of_industry_HEALTHCARE AND HEALTHCARE PROVIDERS,Type_of_industry_HOSPITALS AND NURSING HOMES,Type_of_industry_HOTELS AND RESORTS,Type_of_industry_INDUSTRIAL EQUIPMENT,Type_of_industry_INSTITUTIONS AND TRUST,Type_of_industry_INSURANCE,Type_of_industry_IT AND COMMUNICATION,Type_of_industry_IT HARDWARE,Type_of_industry_IT SERVICES,Type_of_industry_LEATHER,Type_of_industry_LIGHT ENGINEERING,Type_of_industry_MACHINE TOOLS,Type_of_industry_MACHINERY AND EQUIPMENT,Type_of_industry_MEDIA,Type_of_industry_MEDIA ADVERTISING,Type_of_industry_MEDIA MOVIES AND ENTERTAINMENT,Type_of_industry_MEDICAL AND OPTICAL INSTRUMENT,Type_of_industry_MEDICAL EQUIPMENT,Type_of_industry_METALS,Type_of_industry_MILK AND DAIRY PRODUCTS,Type_of_industry_NON METAL MINERAL PRODUCT,Type_of_industry_OIL AND GAS ALLIED,Type_of_industry_OTHER MANUFACTURING,Type_of_industry_OTHER SERVICES,Type_of_industry_OTHERS,Type_of_industry_PAINTS,Type_of_industry_PAPER & PULP,Type_of_industry_PETROLEUM PRODUCTS,Type_of_industry_PHARMACEUTICALS BULK DRUGS,Type_of_industry_PHARMACEUTICALS FORMULATIONS,Type_of_industry_PHOTOGRAPHIC EQUIPMENT AND ALLIED PRODUCTS,Type_of_industry_PLASTIC AND PLASTIC PRODUCTS,Type_of_industry_PLASTIC PIPE AND PIPE FITTINGS,Type_of_industry_PLASTIC PRODUCTS,Type_of_industry_PLYWOOD AND LAMINATES,Type_of_industry_POULTRY,Type_of_industry_PRINT MANUFACTURE RECORD MEDIA,Type_of_industry_PRINTING AND PACKAGING,Type_of_industry_PROFESSIONAL SERVICES,Type_of_industry_SECURITY SERVICES,Type_of_industry_STATIONARY AND OTHER SUPPLIES,Type_of_industry_STEEL PIG IRON SPONGE IRON,Type_of_industry_TEA,Type_of_industry_TEXTILE READY MADE GARMENTS,Type_of_industry_TEXTILE WEAVING KNITTING AND PROCESSING,Type_of_industry_TEXTILES,Type_of_industry_TRANSPORT LOGISTICS,Type_of_industry_TRANSPORT OPERATOR,Type_of_industry_TRAVEL AGENTS AND TOUR OPERATORS,Type_of_industry_UTILITY SERVICES,Type_of_industry_WOOD AND WOOD PRODUCTS,Marital_Status_DIVORCED,Marital_Status_MARRIED,Marital_Status_SEPARATED,Marital_Status_SINGLE,Marital_Status_WIDOWED,Org_Type_ASSOCIATION OF PEOPLE,Org_Type_CLOSELY HELD - PUBLIC LIMITED,Org_Type_GOVT (ONLY FOR SALARIED),Org_Type_INDIVIDUAL,Org_Type_LISTED - PUBLIC LIMITED,Org_Type_MNC,Org_Type_PARTNERSHIP,Org_Type_PRIVATE LIMITED,Org_Type_PROPRIETORSHIP,Org_Type_SOCIETY,Org_Type_TRUST
0,1794,40.000,70891.000,62491.000,229.000,108,37806.000,0.190,0,324,0,0,0,1,0,14,0,0,0,1486,9,0,8,2,0,2,275606,0,275606,5311,0.001,0.001,0.175,0.370,0.001,210.526,0.123,NaN,NaN,NaN,40.000,NaN,2.857,NaN,NaN,NaN,0.027,4.444,NaN,5.000,20.000,NaN,20.000,0.000,NaN,0.000,0.008,1772.275,1.134,309.568,656.398,1.875,373110.526,218.799,NaN,NaN,NaN,70891.000,NaN,5063.643,NaN,NaN,NaN,47.706,7876.778,NaN,8861.375,35445.500,NaN,35445.500,0.257,NaN,0.257,13.348,1562.275,0.882,272.886,578.620,1.653,328900.000,192.873,NaN,NaN,NaN,62491.000,NaN,4463.643,NaN,NaN,NaN,42.053,6943.444,NaN,7811.375,31245.500,NaN,31245.500,0.227,NaN,0.227,11.766,5.725,0.003,0.004,2.120,0.006,1205.263,0.707,NaN,NaN,NaN,229.000,NaN,16.357,NaN,NaN,NaN,0.154,25.444,NaN,28.625,114.500,NaN,114.500,0.001,NaN,0.001,0.043,2.700,0.002,0.002,0.472,0.003,568.421,0.333,NaN,NaN,NaN,108.000,NaN,7.714,NaN,NaN,NaN,0.073,12.000,NaN,13.500,54.000,NaN,54.000,0.000,NaN,0.000,0.020,945.150,0.533,0.605,165.092,350.056,198978.947,116.685,NaN,NaN,NaN,37806.000,NaN,2700.429,NaN,NaN,NaN,25.441,4200.667,NaN,4725.750,18903.000,NaN,18903.000,0.137,NaN,0.137,7.118,0.005,0.000,0.000,0.001,0.002,0.000,0.001,NaN,NaN,NaN,0.190,NaN,0.014,NaN,NaN,NaN,0.000,0.021,NaN,0.024,0.095,NaN,0.095,0.000,NaN,0.000,0.000,8.100,0.005,0.005,1.415,3.000,0.009,1705.263,NaN,NaN,NaN,324.000,NaN,23.143,NaN,NaN,NaN,0.218,36.000,NaN,40.500,162.000,NaN,162.000,0.001,NaN,0.001,0.061,0.000,0.000,0.000,0.000,...,0.000,NaN,NaN,NaN,0.000,0.000,NaN,0.000,0.000,0.000,0.000,NaN,0.000,0.000,0.050,0.000,0.000,0.009,0.019,0.000,10.526,0.006,NaN,NaN,NaN,2.000,NaN,0.143,NaN,NaN,NaN,0.001,0.222,NaN,0.250,1.000,NaN,0.000,NaN,0.000,0.000,6890.150,3.888,4.410,1203.520,2551.907,7.290,1450557.895,850.636,NaN,NaN,NaN,275606.000,NaN,19686.143,NaN,NaN,NaN,185.468,30622.889,NaN,34450.750,137803.000,NaN,137803.000,NaN,1.000,51.893,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,NaN,0.000,NaN,0.000,NaN,NaN,NaN,0.000,0.000,NaN,0.000,0.000,NaN,0.000,0.000,0.000,0.000,6890.150,3.888,4.410,1203.520,2551.907,7.290,1450557.895,850.636,NaN,NaN,NaN,275606.000,NaN,19686.143,NaN,NaN,NaN,185.468,30622.889,NaN,34450.750,137803.000,NaN,137803.000,1.000,NaN,51.893,132.775,0.075,0.085,23.192,49.176,0.140,27952.632,16.392,NaN,NaN,NaN,5311.000,NaN,379.357,NaN,NaN,NaN,3.574,590.111,NaN,663.875,2655.500,NaN,2655.500,0.019,NaN,0.019,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [114]:
x = df.drop(columns='Target')

In [ ]:
rf_model.fit

### Variable clustering

```
pip install VarClusHi
```

```python
from varclushi import VarClusHi
df.shape
x = df.drop(columns='Target')
x = x[x.describe().columns.tolist()]
vc_model = VarClusHi(x,maxegival2 = 1,maxclus=2)