In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 50000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from varclushi import VarClusHi

In [2]:
df = pd.read_excel('Data- acquisition scorecard.xlsx')

In [3]:
df.rename(columns={'ENQ_1':'days_last_enq','ENQ_2':'days_hl_last_enq','ENQ_3':'#_enq_3mnths','ENQ_4':'#_hle_enq_3mnths','ENQ_5':'#_enq_12mnths','ENQ_6':'#_hle_enq_12mnths','ENQ_7':'Tot_enq','ENQ_8':'Tot_hle_enq','ACCOUNT_9':'#_defaults_3mnths','ACCOUNT_10':'#_defaults_12mnths','ACCOUNT_11':'days_last_acc_open','ACCOUNT_12':'Tot_accounts','ACCOUNT_13':'Tot_hle_accounts','ACCOUNT_14':'Tot_unsecured_loans','ACCOUNT_15':'Tot_live_loans','ACCOUNT_16':'Tot_live_homeloans','ACCOUNT_17':'Tot_live_unsecuredloans','ACCOUNT_18':'Tot_amt_outstanding','ACCOUNT_19':'Tot_secured_outstanding_amt','ACCOUNT_20':'Tot_unsecured_outstanding_amt','ACCOUNT_21':'Avg_days_in_debt'},inplace=True)

In [4]:
df_copy = df.copy()

In [6]:
df = df.loc[:,['ID','Tot_enq','Tot_unsecured_outstanding_amt','Target']]

In [7]:
df.shape

(3980, 4)

In [8]:
print(df.shape)
df.drop_duplicates(inplace = True)
print(df.shape)

(3980, 4)
(3894, 4)

In [9]:
df = df.set_index('ID')

In [10]:
df.head()

      Tot_enq  Tot_unsecured_outstanding_amt  Target
ID
1794       14                         275606       0
3183       11                             20       0
1841        3                              0       0
1115        3                              0       0
3125        2                              0       0

In [ ]:
x = df.drop(columns = 'Target')
y = df.Target